{{ define "main" }}
  {{ if .Data.Term }} <!-- page for a single term -->
    <h1>{{ .Data.Singular | title }}: {{ .Title }}</h1>
    {{ .Content }}
    <div class="posts-list-container">
        {{- range .Data.Pages }}
          {{- partial "post-item.html" . -}}
        {{- end }}
    </div>
  {{ else if .Data.Terms }} <!-- page for a taxonomy -->
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Data.Terms.ByCount }}
      <p><a href="{{ .Page.RelPermalink }}">{{ .Page.Name }}</a> ({{ .Count }})</p>
    {{ end }}
  {{ end }}
{{ end }}
