{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "author" -}}
            <span class="has-body-text-color-muted"><i class="fa-solid fa-at"></i>&nbsp;{{ .Params.Author }},&nbsp;</span>
        {{- end -}}
        {{- if isset .Params "date" -}}
            <time class="has-body-text-color-muted">{{ .Params.Date.Format "2 January 2006" }}</time>
        {{- end -}}
        </div>
        <div class="has-body-text-color-muted">
        <span><i class="fa-solid fa-stopwatch"></i>&nbsp;{{ .ReadingTime }} minute read </span>
        </div>
    </header>
    {{- .Content -}}
</article>
{{ end }}
