{{ define "main" }}
<header id="post-header">
  {{- if isset .Params "hero" -}}
  <div class="hero">
    <img src="{{ .Params.Hero }}" />
  </div>
  {{- if isset .Params "subtitle" -}}
  <div class="hero-caption">
    {{ .Params.Subtitle }}
  </div>
  {{- end -}}
  {{- end -}}

  <h1>{{ .Title }}</h1>
</header>
<article>
  {{- .Content -}}
</article>
<aside class="front-matter">
  <div>
    <span>
    {{- if and (isset .Params "author") (isset .Params "date") -}}
      {{ .Params.Author }},
      <time>{{ .Params.Date.Format "2 January 2006" }}</time>
    {{- end -}}
    </span>
  </div>
</aside>
{{- if not .Params.nocomment -}}
<div class="comments-container">
  <section id="comments-form">
  </section>
  <section id="comments-thread">
  </section>
</div>
{{- end -}}
{{ end }}
