$heading-text-color: #3F3427;
$link-text-color: #a44a3f;

$body-text-color: #3F3427;
$body-text-color-muted: #6F5C49;
$body-background: #FFFFFF;
$body-background-alt: #FFFFFF;
$body-background-muted: #F0F0EF;
$body-background-alt-1: #FFFFFF;

/* Dark */
$heading-text-color-dark: #EADFD7;
$link-text-color-dark: #dda15e;

$body-text-color-dark: #EADFD7;
$body-text-color-muted-dark: #CFBAAB;
$body-background-dark: #261F17;
$body-background-dark-alt: #261F17;
$body-background-dark-muted: #392E24;
