main {
  .figure-container {
    overflow: hidden;
    margin: $body-font-size auto $body-font-size * 2 auto;
    width: fit-content;
  }
  figure {
    display: table;
    color: $body-text-color;
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;

    figcaption {
      display: table-caption;
      caption-side: bottom;
      padding-top: 0.5em;

      p {
        color: $body-text-color;
        text-align: center;
        margin: 8px 16px;
      }
    }

    img {
      border-radius: $default-radius;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }
}

.post-inline-svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2.1rem 0;
}

.post-inline-svg {
  svg {
    width: 100%;
  }
}

@media (min-width: $min-width-breakpoint) {
  .post-inline-svg-container {
    padding: 0;
  }
}
