ol {
  padding-left: $gap-indent;
  margin-bottom: $body-line-height;
}

#breadcrumbs-none {
  display: block;
  height: 16px;
  overflow-y: hidden;
}

nav#breadcrumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 16px 16px;
  white-space: nowrap;
  font-family: $ui-font;
  font-size: $body-font-size;

  .breadcrumbs-list {
    display: flex;
    gap: 3px;
    margin: 0;
    color: $body-text-color-muted;
    width: 100%;
    max-width: $content-width - 32px;
    align-items: center;

    .breadcrumbs-item {
      font-weight: $body-font-weight;
    }

    &.primary {
      gap: 0;
    }

    &.secondary {
      font-size: $body-font-size * 0.8;
    }

    .breadcrumbs-item.current {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .breadcrumbs-item.home {
      font-weight: 700;
    }

    .breadcrumbs-separator {
      padding-top: 2px;
      flex-shrink: 0;
      width: 14px;
      text-align: center;

      svg {
        width: 100%;

        polyline {
          stroke: $body-text-color-muted;

          @media(prefers-color-scheme: dark) {
            stroke: $body-text-color-muted-dark;
          }
        }
      }
    }

    .site-title {
      width: 100%;
      max-width: $content-width - 32px;
      font-weight: 600;
      color: $body-text-color;

      @media (prefers-color-scheme: dark) {
        color: $body-text-color-dark;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
      }
    }

    .navlink {
      a {
        display: block;
        text-decoration: none;
        text-transform: lowercase;
        padding: 0 8px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}

@media (prefers-color-scheme: dark) {
  nav#breadcrumbs {
    .breadcrumbs-list {
      color: $body-text-color-muted-dark;
    }
  }
}

body {
  font-family: $body-font;
  text-underline-offset: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-text-color;
  line-height: $body-line-height;
  font-size: $body-font-size;
  letter-spacing: $letter-spacing-rel;
  font-weight: $body-font-weight;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-optical-sizing: auto;

  background-color: $body-background;

  @media(prefers-color-scheme: dark) {
    background-color: $body-background-dark;
    color: $body-text-color-dark;
  }

  nav#breadcrumbs {
    background-color: $body-background;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark;
    }
  }

  .main-container {
    background-color: $body-background;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark;
    }
  }
}

body.single {
  background-color: $body-background-alt;

  @media(prefers-color-scheme: dark) {
    background-color: $body-background-dark-alt;
  }

  nav#breadcrumbs {
    background-color: $body-background-alt;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark-alt;
    }
  }

  .main-container {
    background-color: $body-background-alt;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark-alt;
    }
  }
}

main {
  .post-header {
    padding: 0;
  }

  .article-container {
    width: 100%;
    margin: 0 auto;
  }

  article {
    text-align: justify;
    margin-bottom: 120px;

    padding: 0;

    li::marker {
      color: $body-text-color-muted;

      @media(prefers-color-scheme: dark) {
        color: $body-text-color-muted-dark;
      }
    }

    li+li {
      margin-top: 0.5rem;
    }

    nav#TableOfContents {
      li {
        text-align: left;
      }
    }

    ol {
      list-style-position: outside;
    }

    ul {
      padding-left: 30px;
    }
  }
}

main {
  width: 100%;
  margin: 16px auto 0 auto;

  article {
    p {
      a {
        word-wrap: break-word;
      }
    }
  }

  sup,
  sub {
    line-height: 0;
  }

  p {
    color: $body-text-color;
    margin-top: 0;
    margin-bottom: $body-line-height / 2;
  }

  .indent-and-line-break {
    p {
      margin-bottom: 0;
    }

    p::before {
      content: " ";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font;
    display: block;
    font-weight: $heading-font-weight;
    word-wrap: break-word;
    white-space: normal;
    line-height: 120%;
    hyphens: none;
    text-align: left;
    color: $heading-text-color;

    @media(prefers-color-scheme: dark) {
      color: $heading-text-color-dark;
    }

    a,
    a:hover,
    a:visited {
      color: $heading-text-color;

      @media(prefers-color-scheme: dark) {
        color: $heading-text-color-dark;
      }

    }
  }

  .about-me-container {
    a {
      color: $heading-text-color;

      @media(prefers-color-scheme: dark) {
        color: $heading-text-color-dark;
      }
    }

    overflow: hidden;
    text-align: left;
    hyphens: none;

    padding: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  // Major second scale (1.125)
  h1 {
    font-size: 2.027 * $body-font-size;
    margin: (2.027 * $body-font-size * 1.334) 0 (2.027 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  h2 {
    font-size: 1.802 * $body-font-size;
    margin: (1.802 * $body-font-size * 1.334) 0 (1.802 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  h3 {
    font-size: 1.602 * $body-font-size;
    margin: (1.602 * $body-font-size * 1.334) 0 (1.602 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  h4 {
    font-size: 1.424 * $body-font-size;
    margin: (1.424 * $body-font-size * 1.334) 0 (1.424 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  h5 {
    font-size: 1.266 * $body-font-size;
    margin: (1.266 * $body-font-size * 1.334) 0 (1.266 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  h6 {
    font-size: 1.125 * $body-font-size;
    margin: (1.125 * $body-font-size * 1.334) 0 (1.125 * $body-font-size/3) 0;
    letter-spacing: $letter-spacing-rel;
  }

  // @media(min-width: $min-width-breakpoint) {

  //   // Major thirds scale (1.25)
  //   h1 {
  //     font-size: 3.815 * $body-font-size;
  //     margin: (3.815 * $body-font-size * 1.334) 0 (3.815 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }

  //   h2 {
  //     font-size: 3.052 * $body-font-size;
  //     margin: (3.052 * $body-font-size * 1.334) 0 (3.052 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }

  //   h3 {
  //     font-size: 2.441 * $body-font-size;
  //     margin: (2.441 * $body-font-size * 1.334) 0 (2.441 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }

  //   h4 {
  //     font-size: 1.953 * $body-font-size;
  //     margin: (1.953 * $body-font-size * 1.334) 0 (1.953 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }

  //   h5 {
  //     font-size: 1.563 * $body-font-size;
  //     margin: (1.563 * $body-font-size * 1.334) 0 (1.563 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }

  //   h6 {
  //     font-size: 1.25 * $body-font-size;
  //     margin: (1.25 * $body-font-size * 1.334) 0 (1.25 * $body-font-size / 3) 0;
  //     letter-spacing: $letter-spacing-rel;
  //   }
  // }

  pre,
  pre.chroma {
    display: block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: $default-radius/2;
    line-height: $body-line-height;

    overflow-x: scroll;
    background-color: $body-background-muted;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark-muted;
    }


    code {
      background-color: transparent;
      width: max-content;
      display: block;
    }
  }

  :not(pre.chroma, pre)>code {
    border-radius: $default-radius/2;
    padding: 0.2rem 0.4rem;
    line-height: 2rem;

    background-color: $body-background-muted;

    @media(prefers-color-scheme: dark) {
      background-color: $body-background-dark-muted;
    }
  }

  table {
    min-width: 500px;
  }

  table,
  th,
  td {
    border: none;
  }

  th,
  td {
    padding: $body-font-size * 0.5;
  }

  th {
    border-bottom: 1px solid $body-background-muted;

    @media(prefers-color-scheme: dark) {
      border-bottom-color: $body-background-dark-muted;
    }

    white-space: nowrap;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $body-background-muted;

    @media(prefers-color-scheme: dark) {
      border-bottom-color: $body-background-dark-muted;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
  }

  .table-container {
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: $body-font-size * 2;
    border-radius: $default-radius;
    padding: 0;

    border: 1px solid $body-background-muted;
    background-color: $body-background;

    @media(prefers-color-scheme: dark) {
      border-color: $body-background-dark-muted;
      background-color: $body-background-dark;
    }
  }
}

footer#footer {
  color: $body-text-color-muted;
  padding: 16px 0 16px 0;
  margin: auto 0 0 0;
  font-size: $body-font-size;
  letter-spacing: $letter-spacing-rel;
  font-family: $ui-font;
  width: 100%;


  .footer-nav-container {
    height: 100%;
    width: 100%;
    max-width: $content-width;
    margin: 0 auto 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-nav-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;

      @media(min-width: $min-width-breakpoint) {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }
    }

    .footer-text,
    .footer-socials {
      text-align: left;
    }
  }

  .lni {
    display: inline-block;

    svg {
      display: block;
      width: 100%;
      height: 100%;

      path {
        fill: $body-text-color;
      }
    }

    width: 28px;
    height: 28px;
    margin-bottom: -6px;
  }

}

@media (prefers-color-scheme: dark) {
  footer#footer {
    .lni {
      svg {
        path {
          fill: $body-text-color-dark;
        }
      }
    }
  }

  footer#footer {
    color: $body-text-color-muted-dark;
    background-color: $body-background-dark;
  }

  body.single {
    footer#footer {
      background-color: $body-background-dark-alt;
    }
  }
}

.text-centered {
  text-align: center;
}

.bottom-nav {
  margin-top: 0;

  .bottom-nav-label {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 80%;
  }

  .bottom-nav-next {
    text-align: left;

    a {
      font-weight: 700;
    }

    a.posts-list-item {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    }
  }
}

// comments
.comments-container {
  padding: 0;
  box-sizing: border-box;
  margin-top: 48px;
  padding-top: 1.4rem;
}

/* shortcodes */
main {
  .sc-sub-label {
    line-height: 80%;
    text-transform: uppercase;
    font-size: 80%;
    margin-bottom: calc(2.1rem - 6px);
  }

  .sc-heading-with-sub-label {
    margin-bottom: 6px;
    padding-bottom: 0;
  }
}

@media print,
screen and (min-width: $min-width-breakpoint) {
  main {
    .sc-heading-with-sub-label-container {
      display: flex;
      padding: $body-line-height/2 0 $body-line-height/2 0;
    }

    .sc-sub-label {
      text-transform: uppercase;
      font-size: 80%;
      margin: 0;
      display: block;
      flex-grow: 1;
      text-align: right;
      line-height: $body-line-height * 0.8;
    }

    .sc-heading-with-sub-label {
      margin: 0;
      padding: 0;
      display: block;
      flex-basis: 70%;
    }
  }
}

.index-see-all-posts {
  display: flex;
  justify-content: center;
  margin: 40px 0 32px 0;
}

.index-label-latest-post {
  text-transform: uppercase;
  font-size: 80%;
  margin-bottom: 6px;
}

.front-matter {
  color: $body-text-color-muted;
  margin: 96px 0 96px 0;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

@media (prefers-color-scheme: dark) {}

.posts-list-container.home {
  display: grid;
  align-items: stretch;

  .posts-list-item {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }
}

.posts-list-container.home.featured {
  grid-template-columns: 1fr;
}

@media (min-width: $min-width-breakpoint) {
  main .portrait {
    width: 62%;
  }
}

.terms-cloud-container {
  margin: 0 0 32px 0;
}

.terms-cloud-label {
  display: none;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.terms-cloud-container-for-section {
  margin: 16px 0 32px 0;
}

.terms-cloud {
  margin-bottom: 32px;
  user-select: none;
  display: flex;

  flex-wrap: wrap;
  gap: 8px;

  .terms-cloud-item {
    border-radius: 20px;
    height: 40px;
    text-transform: lowercase;
    font-family: $ui-font;
    font-weight: $ui-font-weight;
    font-size: $body-font-size * 0.7;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 4px 16px;
    text-decoration: none;
    text-align: center;

    color: $body-text-color-muted;
    border: 1px solid $body-background-muted;

    @media(prefers-color-scheme: dark) {
      border-color: $body-background-dark-muted;
      color: $body-text-color-muted-dark;
    }
  }

  .terms-cloud-item:active,
  .terms-cloud-item:hover,
  .terms-cloud-item.selected {
    border-color: $body-text-color-muted;
    background-color: $body-background-alt;

    @media (prefers-color-scheme: dark) {
      background-color: $body-background-dark-alt;
      border-color: $body-text-color-muted-dark;
    }
  }

}

main .posts-list-subtitle {
  text-align: left;
  hyphens: none;
}

// post-hero
.byline:empty {
  display: none;
}

main {
  .byline {
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    margin: 0 0 24px 0;

    .author {
      font-weight: 600;
    }

    .hero-attribution {
      width: 100%;
    }

    color: $body-text-color-muted;

    @media(prefers-color-scheme: dark) {
      color: $body-text-color-muted-dark;
    }
  }
}

#toc {
  ol {
    margin: 0;
  }

  margin-bottom: $body-line-height;
}

.heading-anchor {
  text-decoration: none !important;
}

main {
  padding: 0 16px;
}

.index-section {
  margin: 0 0 (2.027 * $body-font-size * 1.334) 0;
}

.section-label {
  margin: 16px 0;
  font-family: $ui-font;
  font-weight: $heading-font-weight;

  font-size: $body-font-size * 0.8;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bolder;

  color: $body-text-color-muted;

  @media(prefers-color-scheme: dark) {
    color: $body-text-color-muted-dark;
  }
}

.dinkus {
  text-align: center;
  letter-spacing: 0.5em;
  margin: 2em 0;
}

@media (min-width: $min-width-breakpoint) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .main-container {
    width: 100%;
    margin: 0 0 40px 0;

    main {
      width: 100%;
      max-width: $content-width;
    }
  }

  .footer-nav-container {
    width: 100%;
  }

  main hr {
    width: 100%;
  }
}

img.line-art {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 96px);

  @media(min-width: $min-width-breakpoint) {
    width: 33%;
  }

  margin-top: $body-font-size * 2;
  margin-bottom: $body-font-size * 2;
  filter: sepia(0.4);

  @media(prefers-color-scheme: dark) {
    filter: invert(1) sepia(0.2);
  }
}

a {
  text-decoration-thickness: 1px;
}

a,
a:visited,
main a,
main a:visited {
  text-decoration: none;
  color: $link-text-color;

  @media(prefers-color-scheme: dark) {
    color: $link-text-color-dark;
  }
}

a:hover,
main a:hover {
  text-decoration: underline;
}
