$heading-font: 'Inter', serif;
$ui-font: 'Inter', sans-serif;
$body-font: 'Inter', sans-serif;
$body-font-weight: 400;
$ui-font-weight: 500;
$heading-font-weight: 600;
$body-font-size: 1.8rem;
$letter-spacing-rel: -0.015em;
$content-width: 800px;
$min-width-breakpoint: 741px;
$body-line-height: $body-font-size * 1.6;
$banner-font-size: 1.67rem;
$gap-indent: 38px;
$default-radius: 9px;

@import 'reset.scss';
@import 'color.scss';
@import 'fonts.scss';
@import 'images.scss';
@import 'typography.scss';
@import 'dark.scss';
@import 'home.scss';
@import 'posts-table.scss';
@import 'gomments.scss';
@import 'layouts/single.scss';
