$heading-font: 'EB Garamond', serif;
$ui-font: 'Inter', sans-serif;
$body-font: 'Inter', sans-serif;
$body-font-weight: 400;
$ui-font-weight: 400;
$heading-font-weight: 400;
$body-font-size: 2rem;
$body-letter-spacing-pc: -0.02;
$content-width: 740px;
$min-width-breakpoint: 741px;

@import 'reset.scss';
@import 'color.scss';
@import 'fonts.scss';
@import 'images.scss';
@import 'typography.scss';
@import 'links.scss';
@import 'dark.scss';
@import 'home.scss';
@import 'posts-table.scss';
@import 'gomments.scss';
@import 'layouts/single.scss';
