$accent-color: #ff4757;
$accent-color-light: #ff6b81;
$body-text-color: #5e5352;
$body-text-color-muted: #9b8f93;

.has-accent-color {
  color: $accent-color;
}

.has-accent-color-light {
  color: $accent-color-light;
}

.has-body-text-color {
  color: $body-text-color;
}

.has-body-text-color-muted {
  color: $body-text-color-muted;
}
