$accent-color: #ff4757;
$accent-color-light: #ff6b81;

$heading-text-color: #3F3427; //#564639;
$link-text-color: #3F3427;

$body-text-color: #000000;
$body-text-color-muted: #7B6551;
$body-background-alt: #F0F0EF; //#f1f2eb;
$body-background: #E6E6E6; //#e8e9e3;
$body-background-muted: #d0d2c6;
$body-background-alt-1: #FFFFFF;
$secondary-color: #566246;

/* Dark */
$heading-text-color-dark: #EADFD7; //#564639;
$link-text-color-dark: #CFBAAB;

$body-text-color-dark: #ffffff;
$body-text-color-muted-dark: #CFBAAB;
$body-background-dark-alt: #261F17; //#0f172a;
$body-background-dark-muted: #4B3D30; //#005066;
$body-background-dark: #392E24; //#00303d; //#1e293b;
$body-background-dark-alt-1: #335057;//#00607A;
$secondary-color-dark: #9fffcb; //#80FFDB;

$default-radius: 12px;

.has-accent-color {
  color: $accent-color;
}

.has-accent-color-light {
  color: $accent-color-light;
}

.has-body-text-color {
  color: $body-text-color;
}

.has-body-text-color-muted {
  color: $body-text-color-muted;
}

