/* welcome to colorscale */

:root[data-theme="cortado"] {
	--primary-50: #F7EDE4;
	--primary-100: #EFDCC9;
	--primary-200: #DFBB96;
	--primary-300: #D09B65;
	--primary-400: #BF7E3A;
	--primary-500: #94612D;
	--primary-600: #6D4721;
	--primary-700: #493016;
	--primary-800: #291B0C;
	--primary-900: #100A05;

	--ring: #EFDCC9;
	--accent-foreground: #493016;
}
:root[data-theme="lassi"] {
	--primary-50: #FFF9E9;
	--primary-100: #FFF3D3;
	--primary-200: #FFE6A7;
	--primary-300: #FFD97A;
	--primary-400: #FFCC4B;
	--primary-500: #FFBE1C;
	--primary-600: #EAA700;
	--primary-700: #B78300;
	--primary-800: #825D00;
	--primary-900: #483300;

	--ring: #FFF3D3;
	--accent-foreground: #B78300;
}
:root[data-theme="lavender"] {
	--primary-50: #F2EBF9;
	--primary-100: #E5D7F4;
	--primary-200: #CCB0E8;
	--primary-300: #B288DD;
	--primary-400: #9860D2;
	--primary-500: #7F39C6;
	--primary-600: #652D9F;
	--primary-700: #4C2277;
	--primary-800: #33174F;
	--primary-900: #190B28;

	--ring: #E5D7F4;
	--accent-foreground: #4C2277;
}
:root[data-theme="matcha"] {
	--primary-50: #F0F7EA;
	--primary-100: #E1EFD5;
	--primary-200: #C3DFAB;
	--primary-300: #A6D083;
	--primary-400: #8AC15B;
	--primary-500: #6FA73F;
	--primary-600: #568131;
	--primary-700: #3E5D23;
	--primary-800: #273A16;
	--primary-900: #111A0A;

	--ring: #E1EFD5;
	--accent-foreground: #3E5D23;
}
:root[data-theme="pebble"] {
	--primary-50: #F0F2F4;
	--primary-100: #E1E4EA;
	--primary-200: #C3CAD5;
	--primary-300: #A5AFC0;
	--primary-400: #8894AA;
	--primary-500: #6A7A95;
	--primary-600: #556177;
	--primary-700: #3F495A;
	--primary-800: #2A313C;
	--primary-900: #15181E;

	--ring: #E1E4EA;
	--accent-foreground: #3F495A;
}
:root[data-theme="powerade"] {
	--primary-50: #E5FBFF;
	--primary-100: #CCF7FF;
	--primary-200: #99EEFF;
	--primary-300: #66E6FF;
	--primary-400: #33DDFF;
	--primary-500: #00D5FF;
	--primary-600: #00AACC;
	--primary-700: #008099;
	--primary-800: #005566;
	--primary-900: #002B33;

	--ring: #CCF7FF;
	--accent-foreground: #8099;
}
:root[data-theme="rooibos"] {
	--primary-50: #FFE1E1;
	--primary-100: #FFC2C2;
	--primary-200: #FF8787;
	--primary-300: #FF4D4D;
	--primary-400: #FF1515;
	--primary-500: #DE0000;
	--primary-600: #AA0000;
	--primary-700: #780000;
	--primary-800: #4A0000;
	--primary-900: #200000;

	--ring: #FFC2C2;
	--accent-foreground: #780000;
}
:root[data-theme="rose"] {
	--primary-50: #FEEBF0;
	--primary-100: #FED7E1;
	--primary-200: #FDAEC2;
	--primary-300: #FC84A2;
	--primary-400: #FA5981;
	--primary-500: #F92C5F;
	--primary-600: #EE0741;
	--primary-700: #BD0533;
	--primary-800: #890425;
	--primary-900: #4F0215;

	--ring: #FED7E1;
	--accent-foreground: #BD0533;
}

:root {
	--gray: #80827d;
	--gray-50: #fafafa;
	--gray-100: #f2f2f2;
	--gray-200: #e6e6e5;
	--gray-300: #cccdcb;
	--gray-400: #b3b4b1;
	--gray-500: #80827d;
	--gray-600: #676864;
	--gray-700: #4d4e4b;
	--gray-800: #333432;
	--gray-900: #1a1a19;
	--border: #e6e6e5;
	--input: #e6e6e5;
	--background: #fafafa;
	--foreground: #1a1a19;
	--muted: #f2f2f2;
	--muted-foreground: #676864;
	--accent: #f2f2f2;
	--destructive: #ff0000;
	--destructive-foreground: #ffffff;
	--card: #ffffff;
	--card-foreground: #1a1a19;
	--popover: #ffffff;
	--popover-foreground: #1a1a19;
}
