$accent-color: #ff4757;
$accent-color-light: #ff6b81;

$heading-text-color: #000000;

$body-text-color: #000000;
$body-text-color-muted: #7B6551;
$body-background-alt: #f1f2eb;
$body-background: #e8e9e3;
$body-background-muted: #d0d2c6;
$body-background-alt-1: #FFFFFF;
$secondary-color: #566246;

/* Dark */
$body-text-color-dark: #ffffff;
$body-text-color-muted-dark: #ced6e0;
$body-background-dark: #002029; //#0f172a;
$body-background-dark-muted: #004052;
$body-background-dark-alt: #00303d; //#1e293b;
$body-background-dark-alt-1: #004052;
$secondary-color-dark: #9fffcb; //#80FFDB;

$default-radius: 6px;

.has-accent-color {
  color: $accent-color;
}

.has-accent-color-light {
  color: $accent-color-light;
}

.has-body-text-color {
  color: $body-text-color;
}

.has-body-text-color-muted {
  color: $body-text-color-muted;
}

body {
  background: $body-background;
}
