@media (prefers-color-scheme: dark) {
  body {
    color: $body-text-color-dark;
    background: $body-background-dark;
  }
  main#content p {
    color: $body-text-color-dark;
  }

  main#content {
    figure {
      color: $body-text-color-dark;
      figcaption {
        p {
          color: $body-text-color-dark;
        }
      }
    }
  }

  .has-body-text-color-muted {
    color: $body-text-color-muted-dark;
  }

  main#content a {
    color: $body-text-color-dark;
  }

  main#content .footnotes {
    hr {
      background: $body-text-color-dark;
    }
  }

  .bottom-nav {
    svg {
      path {
        fill: $body-text-color-dark !important;
      }
    }
  }

  main#content {
    .post-hero-container {
      background-color: $body-background-dark-alt;
    }
  }
}

