@media (prefers-color-scheme: dark) {
  main p {
    color: $body-text-color-dark;
  }

  main {
    figure {
      color: $body-text-color-dark;
      figcaption {
        p {
          color: $body-text-color-dark;
        }
      }
    }
  }

  .has-body-text-color-muted {
    color: $body-text-color-muted-dark;
  }
}

