@media (prefers-color-scheme: dark) {
  body {
    color: #ebebeb;
    background: $body-background-dark;
  }
  main#content p {
    color: $body-text-color-dark;
  }

  html {
    scrollbar-color: #6c6c6c #2e2e2e;
  }

  nav#banner a {
    color: $body-text-color-dark;
    text-decoration: none;
  }

  nav#banner .navlinks ul li a {
    color: $body-text-color-dark;
  }

  .has-body-text-color-muted {
    color: $body-text-color-muted-dark;
  }

  main#content a {
    color: $body-text-color-dark;
  }

  footer#footer {
    color: $body-text-color-muted-dark;
    a {
      text-decoration: none;
      color: $accent-color;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  main#content {
    code {
      color: $body-text-color-dark;
      background-color: $body-background-dark-alt;
    }
  }

  .footnotes {
    hr {
      background: $body-text-color-dark;
    }
}
}
