@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* italic */
@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
