@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope'), url('/fonts/manrope/Manrope-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Manrope'), url('/fonts/manrope/Manrope-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Manrope'), url('/fonts/manrope/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  src: local('Inconsolata for Powerline'), url('/fonts/inconsolata/Inconsolata.woff2') format('woff2');
}

$heading-font: 'Manrope', 'Arial', sans-serif;
$body-font: 'Manrope', 'Arial', sans-serif;
$body-font-weight: 400;
$body-font-size: 1.6rem;

