
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local('Manrope'), url('../fonts/manrope/Manrope-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local('Manrope'), url('../fonts/manrope/Manrope-Bold.woff') format('woff');
}
$main-font: 'Manrope';

@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata for Powerline'), url('../fonts/inconsolata/Inconsolata.woff2') format('woff2');
}
