@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local('Manrope'), url('../fonts/manrope/Manrope-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local('Manrope'), url('../fonts/manrope/Manrope-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local('Manrope'), url('../fonts/manrope/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata for Powerline'), url('../fonts/inconsolata/Inconsolata.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$heading-font: 'Manrope', sans-serif;
$body-font: 'Manrope', sans-serif;
$body-font-weight: 400;

