$profile-size: 192px;

.profile-circle {
    position: relative;
    overflow: hidden;
    width: $profile-size;
    height: $profile-size;
    border-radius: 50%;
    padding: 0px;
    box-sizing: border-box;
}

.profile-circle img {
    display: block;
    width: $profile-size;
    height: $profile-size;
    padding: 0 !important;
    margin: 0 !important;
}

.about-me-profile {
    width: $profile-size;
    height: $profile-size;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.about-me-container {
    margin-bottom: 32px;
    margin: 16px 0 0 0;
    overflow: hidden;
    text-align: left;
    hyphens: none;
}

@media (min-width: 770px) {}

@media (min-width: 770px) {
    .about-me-container {
        border-radius: $default-radius;
    }
}
