main#content {
  figure {
    display: table;
    margin: $body-line-height/2 auto;
    color: $body-text-color;
    padding: 0;
    width: 100%;
    border-radius: $default-radius $default-radius 0 0;
    overflow: hidden;
    background-color: $body-background-alt;

    figcaption {
      display: table-caption;
      caption-side: bottom;
      border-radius: 0 0 $default-radius $default-radius;
      background-color: $body-background-alt;

      p {
        color: $body-text-color;
        font-size: 80%;
        text-align: center;
        margin: 0 16px 8px 16px;
      }
    }

    img {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }

  figure.portrait {
    width: 100%;
  }
}

.post-inline-svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2.1rem 0;
}

.post-inline-svg {
  svg {
    width: 100%;
  }
}

@media (min-width: 770px) {
  .post-inline-svg-container {
    padding: 0;
  }
}
