main#content {
  .figure-container {
    overflow: hidden;
    margin: $body-font-size auto $body-font-size * 2 auto;
    border-radius: $default-radius;
    width: fit-content;

    border: 1px solid $body-background-muted;
    background-color: $body-background;

    @media(prefers-color-scheme: dark) {
      border-color: $body-background-dark-muted;
      background-color: $body-background-dark;
    }
  }
  figure {
    display: table;
    color: $body-text-color;
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;

    figcaption {
      display: table-caption;
      caption-side: bottom;
      border-radius: 0 0 $default-radius $default-radius;

      p {
        color: $body-text-color;
        text-align: center;
        margin: 8px 16px;
      }
    }

    img {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }
}

.post-inline-svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2.1rem 0;
}

.post-inline-svg {
  svg {
    width: 100%;
  }
}

@media (min-width: 770px) {
  .post-inline-svg-container {
    padding: 0;
  }
}
