*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 150%;
}

nav#banner {
    margin: 16px 0;
}

nav#banner a {
    text-decoration: none;
    font-size: 1.9rem;
}

nav#banner a:hover {
    text-decoration: underline;
}

nav#banner h2 {
    text-transform: lowercase;
    margin: 0 3px 0 0;
}

nav#banner .navlinks ul {
    list-style-type: none;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

main#content table#posts-table {
    margin: 0;
    width: 100%;
}

main#content table#posts-table td:nth-child(2) {
  text-align: right;
}

main#content table#posts-table td {
  border: none;
  padding: 4px 0 4px 0;
  vertical-align: top;
}

main#content table#posts-table tr:hover {
}

code, pre {
    font-family: 'Inconsolata', monospace;
    padding: 0;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 1.4rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1rem 1rem;
    line-height: 130%;
    border-radius: 8px;
}

main#content table {
    border-collapse: collapse;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footnotes a {
    line-break: anywhere;
}

.nowrap {
  white-space: nowrap;
}
