*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 16px;
}

a:hover {
    text-decoration: underline;
}

main#content table#posts-table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    border: none;
}

main#content table#posts-table td:nth-child(2) {
  text-align: right;
}

main#content table#posts-table td {
  border: none;
  padding: 4px 0 4px 0;
  vertical-align: top;
}

main#content table#posts-table tr:hover {
}

code, pre {
    font-family: 'Inconsolata', monospace;
    padding: 0;
}

.footnotes a {
    line-break: anywhere;
}

.nowrap {
  white-space: nowrap;
}
