*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

code,
pre {
    font-family: 'Inconsolata', monospace;
    padding: 0;
}

.footnotes a {
    line-break: anywhere;
}

.nowrap {
    white-space: nowrap;
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.152s;
    animation-timing-function: ease-in-out;
}

