
@media (min-width: 771px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .main-container {
    width: 100%;
    margin: 0;
    main {
      width: 100%;
      max-width: 800px;
    }
  }

  .footer-nav-container {
    width: 100%;
  }

  main hr {
    width: 100%;
  }
}

