html {
  font-size: 75%;
}

nav#banner {
  padding: 16px 0 0 0;
}

@media (min-width: 770px) {
  html {
    width: 100vw;
    overflow-x: hidden;
    font-size: 65%;
  }
  body {
      width: 80ch;
  }

  main#content hr {
      width: 100%;
  }

  nav#banner {
    padding: 64px 0 0 0;
  }
}
