html {
  font-size: 65%;
}

main#content {
  width: 100%;
}

@media (min-width: 770px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .main-container {
    width: 770px;
    margin: 0 auto 0 auto !important;
  }

  main#content {
    width: 100%;
    margin: 0 auto 0 0 !important;
  }

  .footer-nav-container {
    max-width: 770px;
    margin: 0 auto 0 calc((100vw - 770px)/2) !important;
  }

  main#content hr {
    width: 100%;
  }
}
