html {
  font-size: 65%;
}

main#content {
  width: 100%;
}

@media (min-width: 770px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  main#content {
    width: 706px;
    margin: 0 auto 0 calc(0.25*(100vw - 706px)) !important;
  }

  .footer-nav-container {
    max-width: 706px;
    margin: 0 auto 0 calc(0.25*(100vw - 706px)) !important;
  }

  nav#banner {
    margin: 16px auto 16px calc(0.25*(100vw - 706px)) !important;
  }

  main#content hr {
    width: 100%;
  }
}
