
@media (min-width: 771px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .main-container {
    width: 100%;
    margin: 0;
    main {
      width: 100%;
      max-width: 770px;
    }
  }

  .footer-nav-container {
    max-width: 770px;
    margin: 0 auto 0 calc((100vw - 770px)/2) !important;
  }

  main hr {
    width: 100%;
  }
}

