.posts-list-container {
  margin: 0 0;

  h2 {
    margin-bottom: 32px !important;
  }
}

a.posts-list-item {
  border-radius: $default-radius;
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
  background-color: $body-background-alt;
  padding: 16px 16px;;
  position: relative;

  .posts-list-heading {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
  }

  .posts-list-subtitle, p, .posts-list-pill {
    font-weight: $body-font-weight;
  }
}

a.posts-list-item:hover, a.posts-list-item:active {
  text-decoration: none;
}

main#content .posts-list-subtitle {
  p:last-child {
    margin-bottom: 0;
  }
}

.posts-list-pills {
  margin-top: 4px;
  text-transform: uppercase;
  font-size: 80%;
  color: $body-text-color;
  display: flex;
  svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-bottom: -0.3rem;
    path {
      fill: $body-text-color;
    }
  }

  .posts-list-pill {
    display: block;
    margin-right: 12px;
  }
}

.posts-list-heading {
  margin-bottom: 5px !important;
  font-size: $h3-font-size;
  font-family: "Manrope", sans-serif;
  a {
    text-decoration-thickness: 1.5px;
  }
  display: block;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
  letter-spacing: $letter-spacing-headings;
  line-height: 120%;
}

@media (prefers-color-scheme: dark) {
  .posts-list-pills {
    color: $body-text-color-dark !important;
    svg {
      path {
        fill: $body-text-color-dark !important;
      }
    }
  }

  a.posts-list-item {
    background-color: $body-background-dark-alt;
  }
}
