.posts-list-container {
  margin: 0 0;

  h2 {
    margin-bottom: 32px !important;
  }
}

a.posts-list-item {
  border-radius: $default-radius;
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
  background-color: $body-background-alt;
  padding: 0 16px 16px 16px;
  position: relative;
  overflow: hidden;
  border: 1px solid $body-background-muted;

  @media(prefers-color-scheme: dark) {
    border-color: $body-background-dark-muted;
  }

  .posts-list-heading {
    margin: 16px 0 8px 0;

    font-size: 2rem;
    font-family: $heading-font, sans-serif;
    letter-spacing: -0.05rem;

    a {
      text-decoration-thickness: 1.5px;
    }

    display: block;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
    line-height: 120%;
  }


  .posts-list-hero-container {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 0 16px 0;
  }

  .posts-list-hero {
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 -16px 0 -16px;
  }

  .posts-list-subtitle {
    margin-bottom: 16px;
  }

  .posts-list-subtitle,
  p,
  .posts-list-pill {
    font-weight: $body-font-weight;
  }
}

a.posts-list-item:hover,
a.posts-list-item:active {
  text-decoration: none;
}

main#content .posts-list-subtitle {
  p:last-child {
    margin-bottom: 0;
  }
}

.posts-list-pills {
  margin-top: 4px;
  font-size: 80%;
  color: $body-text-color;
  display: flex;

  svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-top: -0.1rem;

    path {
      fill: $body-text-color;
    }
  }

  .posts-list-pill {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-right: 12px;
    .posts-list-pill-label {
      line-height: 1.4rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .posts-list-pills {
    color: $body-text-color-dark !important;

    svg {
      path {
        fill: $body-text-color-dark !important;
      }
    }
  }

  a.posts-list-item {
    background-color: $body-background-dark-alt;
  }
}
