.posts-list-container {
  margin: 0 0;

  h2 {
    margin-bottom: 32px !important;
  }
}

a.posts-list-item {
  border-radius: $default-radius;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 16px;
  background-color: $body-background-alt;
  padding: 0 16px 16px 16px;
  position: relative;
  overflow: hidden;
  border: 1px solid $body-background-muted;
  font-family: $ui-font;
  font-size: $body-font-size * 1;
  letter-spacing: $body-letter-spacing-pc * 1 * $body-font-size;

  @media(prefers-color-scheme: dark) {
    border-color: $body-background-dark-muted;
  }

  .posts-list-copy-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
  }

  .posts-list-heading {
    margin: 0 16px 24px 0;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    font-style: italic;
    font-size: $body-font-size * 2.027;
    letter-spacing: $body-letter-spacing-pc * 2.027 * $body-font-size;
    color: $heading-text-color;
    @media(prefers-color-scheme: dark) {
      color: $heading-text-color-dark;
    }

    a {
      text-decoration-thickness: 1.5px;
    }

    display: block;
    word-wrap: break-word;
    white-space: normal;
    line-height: 120%;
  }


  .posts-list-hero-container {
    width: 100%;
    aspect-ratio: 3/2;
    @media(min-width: 771px) {
      aspect-ratio: 16/10;
    }
    margin: 0 0 16px 0;
  }

  .posts-list-hero {
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 -16px 0 -16px;
  }

  .posts-list-hero-placeholder-container {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 0 16px 0;
  }

  .posts-list-hero-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 -16px 0 -16px;
    padding: 0 32px 0 32px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background: #ffccd3;
    background: linear-gradient(45deg, #EADFD7 0%, #CFBAAB 100%);

    @media(prefers-color-scheme: dark) {
      background: #39245c;
      background: linear-gradient(45deg, #3F3427 0%, #6F5B49 100%);
    }
  }

  .posts-list-subtitle {
    margin-bottom: 16px;
  }

  .posts-list-subtitle,
  p,
  .posts-list-pill {
    font-weight: $body-font-weight;
  }
}

a.posts-list-item:hover,
a.posts-list-item:active {
  text-decoration: none;
}

main a.posts-list-item {
  color: $body-text-color;

  @media(prefers-color-scheme: dark) {
    color: $body-text-color-dark;
  }
}

main .posts-list-subtitle {
  p:last-child {
    margin-bottom: 0;
  }
}

.posts-list-pills {
  font-size: 0.8 * $body-font-size;
  font-family: $ui-font;
  color: $body-text-color;
  display: flex;

  svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-top: -0.1rem;

    path {
      fill: $body-text-color;
    }
  }

  .posts-list-pill {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-right: 12px;

    .posts-list-pill-label {
      line-height: 1.4rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .posts-list-pills {
    color: $body-text-color-dark !important;

    svg {
      path {
        fill: $body-text-color-dark !important;
      }
    }
  }

  a.posts-list-item {
    background-color: $body-background-dark-alt;
  }
}
