:root {
  --width: 640px;
  --header-width: 640px;
  --footer-width: 640px;
  --radius: 12px;
  --radius-sharp: 6px;
  --gutter-half: 1rem;
  --gutter: 2rem;
  --gutter-more: 3rem;
  --gutter-double: 4rem;

  --sans-serif: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --monospace: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;

  --regular: 400;
  --medium: 500;
  --bold: 600;
  --extra-bold: 700;

  --main-side-margins: var(--gutter-double);

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  font-size: 62.5%;

  --heading-weight: var(--extra-bold);
  --base-font-size: 1.6rem;

  @media(min-width: 480px) {
    --base-font-size: 1.6rem;
  }

  --button-radius: var(--radius-sharp);

  --body-bg: var(--primary-700);
  --alert-caution-bg: #EDD4C2;
  --alert-caution-border: #DDB8A4;
  --alert-caution-heading-color: #522510;
  --alert-caution-text-color: #6B3420;
  --alert-important-bg: #E0D4EC;
  --alert-important-border: #CABCD8;
  --alert-important-heading-color: #3C2850;
  --alert-important-text-color: #503860;
  --alert-note-bg: #D8E3EA;
  --alert-note-border: #C2D0D8;
  --alert-note-heading-color: #2E4554;
  --alert-note-text-color: #3D5563;
  --alert-tip-bg: #D2E4CE;
  --alert-tip-border: #BBCFB8;
  --alert-tip-heading-color: #274530;
  --alert-tip-text-color: #36573A;
  --alert-warning-bg: #EDE0AA;
  --alert-warning-border: #D8C878;
  --alert-warning-heading-color: #4A3A0C;
  --alert-warning-text-color: #614F18;
  --blockquote-accent: var(--gray-400);
  --button-primary-bg-hover: var(--primary-600);
  --button-primary-bg: var(--primary-700);
  --button-primary-fg: var(--primary-100);
  --button-semantic-disabled-bg: var(--gray-400);
  --button-semantic-good-bg-hover: #22cc22;
  --button-semantic-good-bg: #008000;
  --code-bg: var(--gray-50);
  --code-border: var(--gray-300);
  --code-chroma-border: var(--gray-300);
  --code-text-color: var(--gray-700);
  --content-area-bg: var(--background);
  --gomments-input-bg: var(--gray-50);
  --gomments-input-border: var(--border);
  --li-marker-color: var(--primary-800);
  --link-color: var(--primary-700);
  --link-color-hover: var(--link-color);
  --ring-primary: var(--ring);
  --text-color-muted: var(--muted-foreground);
  --text-color: var(--foreground);
  --table-border: var(--border);
  --table-thead-bg: var(--primary-700);
  --table-thead-text-color: var(--primary-100);
  --table-tbody-tr-bg: var(--gray-100);
  --mark-primary: var(--primary-100);
  --header-footer-bg: var(--primary-700);
  --header-footer-site-title-color: var(--primary-100);
  --header-footer-site-title-color-hover: var(--primary-50);
  --header-footer-navigation-links-text-color: var(--primary-100);
  --header-footer-navigation-links-text-color-hover: var(--header-footer-navigation-links-text-color);
  --header-footer-text-color: var(--primary-100);
  --header-footer-button-icon-bg: var(--primary-700);
  --header-footer-button-icon-bg-hover: var(--primary-600);
  --header-footer-button-icon-text-color: var(--primary-100);
  --post-card-publish-date-text-color: var(--gray-600);
  --hr-color: var(--gray-400);

  @media(prefers-color-scheme: dark) {
    --alert-caution-bg: #2C1810;
    --alert-caution-border: #4A3220;
    --alert-caution-heading-color: #FFB380;
    --alert-caution-text-color: #F5A870;
    --alert-important-bg: #2D244A;
    --alert-important-border: #524A6A;
    --alert-important-heading-color: #E0C8F0;
    --alert-important-text-color: #D4A8E0;
    --alert-note-bg: #1A2D3A;
    --alert-note-border: #3A4A58;
    --alert-note-heading-color: #B8DFF0;
    --alert-note-text-color: #A8D0E8;
    --alert-tip-bg: #1A3218;
    --alert-tip-border: #3A522F;
    --alert-tip-heading-color: #B0E890;
    --alert-tip-text-color: #A0D870;
    --alert-warning-bg: #3A3620;
    --alert-warning-border: #6A6030;
    --alert-warning-heading-color: #F0D060;
    --alert-warning-text-color: #FFD050;
    --blockquote-accent: var(--gray-100);
    --button-primary-bg-hover: var(--primary-400);
    --button-primary-bg: var(--primary-500);
    --button-primary-fg: var(--primary-50);
    --button-semantic-disabled-bg: var(--gray-700);
    --button-semantic-good-bg-hover: #22cc22;
    --button-semantic-good-bg: #008000;
    --code-bg: var(--gray-900);
    --code-border: var(--gray-700);
    --code-chroma-border: transparent;
    --code-text-color: var(--gray-50);
    --content-area-bg: var(--gray-900);
    --gomments-input-bg: var(--gray-800);
    --gomments-input-border: var(--gray-700);
    --li-marker-color: var(--gray-50);
    --link-color: var(--primary-300);
    --link-color-hover: var(--link-color);
    --ring-primary: var(--primary-500);
    --text-color-muted: var(--gray-100);
    --text-color: var(--gray-50);
    --table-border: var(--primary-600);
    --table-thead-bg: var(--primary-600);
    --table-thead-text-color: var(--primary-50);
    --table-tbody-tr-bg: var(--gray-900);
    --mark-primary: var(--primary-700);
    --header-footer-bg: var(--gray-900);
    --header-footer-site-title-color: var(--primary-300);
    --header-footer-site-title-color-hover: var(--primary-200);
    --header-footer-navigation-links-text-color: var(--primary-300);
    --header-footer-navigation-links-text-color-hover: var(--header-footer-navigation-links-text-color);
    --header-footer-text-color: var(--primary-400);
    --body-bg: var(--gray-900);
    --post-card-publish-date-text-color: var(--gray-400);
    --hr-color: var(--gray-100);
  }
}

body {
  font-family: var(--sans-serif);
  font-weight: var(--regular);

  text-wrap: pretty;
  color: var(--text-color);
  background-color: var(--body-bg);

  overflow-x: clip;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;

  font-size: var(--base-font-size);

  main {
    /* min-width needed to allow overflowing child elements */
    min-width: 0;

    background-color: var(--content-area-bg);
    padding: var(--main-side-margins);
    padding-top: clamp(var(--main-side-margins),
        calc(var(--main-side-margins) + 50vw - var(--width) / 2 - var(--main-side-margins)),
        calc(2 * var(--main-side-margins)));
    padding-bottom: 16rem;
  }
}

.back-to-top {
  height: 24px;
  margin: var(--gutter-double) 0 0 0;

  a {
    display: inline-block;

    svg {
      float: left;
      margin-right: 0.25em;
    }

    .label {
      float: right;
      text-decoration: inherit;
    }
  }
}

.back-nav {
  width: 100%;
  max-width: var(--width);
  margin: var(--gutter-half) auto;
  height: 24px;

  a {
    display: inline-block;

    svg {
      float: left;
      margin-right: 0.25em;
    }

    .label {
      float: right;
      text-decoration: inherit;
    }
  }
}

.button-link,
.button-icon {
  all: unset;
  cursor: pointer;
}

/* links */
a,
.button-link {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

header.site-header-container {
  font-family: var(--sans-serif);
  background-color: var(--header-footer-bg);
  -webkit-font-smoothing: antialiased;
  padding: 0 var(--gutter);

  .site-header {
    display: grid;
    grid-template-columns: 140px 1fr;
    height: 56px;
    max-width: var(--header-width);
    margin: var(--gutter-half) auto;

    .site-title {
      display: block;
      padding: 0;
      margin: 0;
      color: var(--header-footer-site-title-color);
      height: 100%;
      flex-grow: 1;

      &:hover {
        color: var(--header-footer-site-title-color-hover);
      }

      svg {
        filter: drop-shadow(0px 0px 4px #00000040);
        width: auto;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: end;
      text-transform: lowercase;
      font-size: 2rem;
      width: 100%;

      a {
        display: block;
        font-weight: var(--bold);
        color: var(--header-footer-navigation-links-text-color);
        padding-left: 1em;

        &:hover {
          color: var(--header-footer-navigation-links-text-color-hover);
        }

        &.active {}
      }
    }

  }
}

.hero {
  max-width: var(--width);
  margin: 0 auto;

  .hero-surface {
    aspect-ratio: 1.25;

    @media (min-width: 480px) {
      aspect-ratio: 2.2;
    }

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: var(--radius);

    img {
      width: 100%;
    }
  }

  .hero-attribution {
    p {
      color: var(--text-color-muted);
      text-align: right;
      margin-top: 6px;
      font-size: smaller;
      font-style: italic;
    }
  }
}

article::selection {
  background-color: var(--primary-700);
  color: var(--primary-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-weight);
  line-height: 1.1;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  letter-spacing: -1%;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.027em;
}

h2 {
  font-size: 1.802em;
}

h3 {
  font-size: 1.602em;
}

h4 {
  font-size: 1.424em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

article.content {
  width: 100%;
  max-width: var(--width);
  margin: var(--gutter-half) auto var(--gutter) auto;



  .byline {
    font-size: smaller;
    display: block;
    margin: 0.25lh 0;

    &:empty {
      display: none;
    }

    .author {
      font-weight: var(--bold);
    }

  }

  strong {
    font-weight: var(--bold);
  }

  blockquote:not(.alert) {
    font-style: italic;
    border-left: 3px solid var(--blockquote-accent);
    color: var(--text-color);
    padding-left: 0.66em;
  }

  .alert {
    padding: 2rem 2rem 3rem 2rem;
    margin: 2rem 0;
    border-radius: var(--radius);
    border: 1px solid;

    .alert-heading {
      font-weight: var(--bold);
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p {
      text-align: left;
    }

    /* Note: dusty slate-blue */
    &.alert-note {
      border-color: var(--alert-note-border);
      background-color: var(--alert-note-bg);

      p {
        color: var(--alert-note-text-color);
      }

      .alert-heading {
        color: var(--alert-note-heading-color);
      }

    }

    /* Tip: sage green */
    &.alert-tip {
      border-color: var(--alert-tip-border);
      background-color: var(--alert-tip-bg);

      p {
        color: var(--alert-tip-text-color);
      }

      .alert-heading {
        color: var(--alert-tip-heading-color);
      }

    }

    /* Warning: ochre/warm amber */
    &.alert-warning {
      border-color: var(--alert-warning-border);
      background-color: var(--alert-warning-bg);

      p {
        color: var(--alert-warning-text-color);
      }

      .alert-heading {
        color: var(--alert-warning-heading-color);
      }

    }

    /* Caution: terracotta */
    &.alert-caution {
      border-color: var(--alert-caution-border);
      background-color: var(--alert-caution-bg);

      p {
        color: var(--alert-caution-text-color);
      }

      .alert-heading {
        color: var(--alert-caution-heading-color);
      }

    }

    /* Important: dusty mauve */
    &.alert-important {
      background-color: var(--alert-important-bg);
      border-color: var(--alert-important-border);

      p {
        color: var(--alert-important-text-color);
      }

      .alert-heading {
        color: var(--alert-important-heading-color);
      }

    }
  }

  pre {
    display: block;
    font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    line-height: 1.7;
    padding: var(--gutter-half);
    overflow-x: auto;
    margin: 1lh 0;

    code {
      display: block;
      background-color: transparent;
      min-width: fit-content;
    }
  }

  code {
    border-radius: 5px;
    padding: 0.2em 0.4em;
  }

  pre,
  code {
    font-family: var(--monospace);
    font-size: 1.4rem;
  }

  *:not(pre)>code,
  pre:not(.chroma) {
    background-color: var(--code-bg);
    border: 1px solid var(--code-border);
    color: var(--code-text-color);
  }

  pre {
    border: 1px solid var(--code-border);
    border-radius: var(--radius);

    &.chroma {
      border: 1px solid var(--code-chroma-border);
    }
  }

  p.text-align-left {
    text-align: left;
  }

  .figure-container {
    width: auto;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    &.portrait {
      @media (min-width: 480px) {
        max-width: 66%;
      }
    }

    &.sm {
      width: 250px;
    }

    figure {
      margin: 2lh 0;
      width: auto;

      img {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        border-radius: var(--radius);
      }
    }

    &.nocaption {
      figcaption {
        display: none;
      }
    }

    figcaption {
      padding-top: 1rem;
      line-height: 1.4;

      p {
        color: var(--text-color-muted);
        font-style: italic;
        font-size: smaller;
      }
    }
  }

  .dinkus {
    text-align: center;
  }

  .footnotes {
    width: auto;
    margin-top: 2em;
    text-align: left;

    hr {
      display: block;
      height: 1.5px;
      background-color: var(--hr-color);
      border: none;
      color: transparent;
    }
  }

  .hugo-content {
    container-type: inline-size;
    margin: 1lh auto;
    line-height: 1.6;

    aside#toc {
      margin-top: 1rem;
    }

    sup {
      line-height: 0;
    }

    p {
      margin: 0 auto 0.66lh auto;
    }

    &.essay {

      &>p {
        text-align: justify;
        text-wrap: initial;

        hyphens: auto;
      }
    }

    ol,
    ul {
      margin: 0.5lh auto;

      ol,
      ul {
        margin: 0 auto;
      }

      li::marker {
        color: var(--li-marker-color);
        font-weight: var(--regular);
      }
    }

    mark {
      background-color: var(--mark-primary);
      color: var(--text-color);
    }
  }

  .table-container {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0.5lh 0;
    border: 1px solid var(--table-border);
    border-radius: var(--radius);

    table {
      min-width: 600px;
      box-sizing: border-box;
      border-spacing: 0;
      border-collapse: collapse;
      border: none;
      table-layout: auto;
      width: 100%;

      thead,
      tbody,
      tr,
      th,
      td {
        border: none;
      }

      thead {
        font-size: smaller;
        text-align: left;
        background-color: var(--table-thead-bg);
        color: var(--table-thead-text-color);

        tr {
          th {
            padding: 0.5lh;
          }
        }
      }

      tbody {
        font-size: smaller;
        text-align: left;

        tr {
          background-color: var(--table-tbody-tr-bg);

          td {
            padding: 0.5lh;
          }
        }

      }
    }
  }
}

article.section {
  .hugo-section-header {
    font-weight: var(--bold);
  }

  margin: var(--gutter) auto;
}

article.posts {
  max-width: var(--width);
  margin: var(--gutter) auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-card {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0;

  .title {
    font-weight: var(--bold);
  }

  .publish-date {
    color: var(--post-card-publish-date-text-color);
  }

  .contents {
    header {

      time,
      .comment-count {
        white-space: nowrap;
      }
    }

    .summary {
      position: relative;
      max-height: 6lh;
      overflow-y: hidden;
    }
  }
}

.raised {
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--ring-primary);
}

noscript {
  color: var(--text-color-muted);
  font-style: italic;
}

.gomments-container {
  font-family: var(--sans-serif);
  display: flex;
  flex-direction: column;
  gap: 0.5lh;
  justify-items: stretch;

  .reaction-bar {
    display: flex;
    gap: 1em;
    margin: 1em 0;
    align-items: center;

    .reaction-bar-count {
      height: 25px;
      line-height: 25px;
    }

    button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border: none;
      padding: 0.5em;
      background: var(--button-primary-bg, black);
      color: var(--button-primary-fg);
      cursor: pointer;
      border-radius: var(--button-radius);
    }


    &:not(.locked) {
      button:hover {
        background: var(--button-primary-bg-hover, black);
      }
    }

    &.locked {
      button {
        cursor: not-allowed;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5lh;

    .row {
      .field-group {

        input {
          max-width: 60%;
        }

        textarea {
          resize: none;
        }

        input,
        textarea {
          font-family: var(--monospace);
          font-size: 1.6rem;
          width: 100%;
          padding: 0.5em 0.5em;
          box-sizing: border-box;
          border: 2px solid var(--gomments-input-border);
          border-radius: var(--radius-sharp);
          margin: 0;
          background-color: var(--gomments-input-bg);
          color: var(--text-color);

          &::placeholder {
            color: var(--text-color);
            opacity: 0.5;
            font-style: italic;
          }
        }
      }
    }

    .reply-form-submit-row {
      display: flex;
      justify-content: space-between;
    }

    .char-count-text {
      color: var(--text-color-muted);
      font-size: smaller;
    }

    .char-count-text.validation-error-text {
      color: crimson;
    }

    button.submit-btn {
      background-color: var(--button-semantic-disabled-bg);
      border: none;
      color: white;
      border-radius: var(--button-radius);
      cursor: not-allowed;
      font-size: smaller;
      padding: 0.5lh 1lh;

      &:enabled {
        background-color: var(--button-semantic-good-bg);

        &:hover {
          background-color: var(--button-semantic-good-bg-hover);
        }

        color: white;
        cursor: pointer;
      }
    }
  }

  .section-label {
    font-weight: var(--bold);
  }

  .reply-feed {
    display: flex;
    flex-direction: column;
    gap: 0.5lh;

    .reply-card-container {
      display: grid;
      grid-template-columns: 32px 1fr;
      grid-gap: 0.5lh;

      &>* {
        min-width: 0;
      }

      .reply-card-heading-lockup {
        .name-pill {
          font-weight: var(--bold);
        }
      }

      .reply-card-avatar {
        aspect-ratio: 1;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: var(--bold);
        overflow: hidden;
        border-radius: var(--radius-sharp);

        div {
          text-align: center;
          height: min-content;
          line-height: 1;
        }
      }

      .reply-created-at {
        font-style: italic;
        font-size: smaller;
      }

      .tripcode-color-anon {
        background-color: #888;
      }

      .tripcode-color-0 {
        background-color: #e53935;
      }


      .tripcode-color-1 {
        background-color: #d81b60;
      }


      .tripcode-color-2 {
        background-color: #8e24aa;
      }


      .tripcode-color-3 {
        background-color: #5e35b1;
      }


      .tripcode-color-4 {
        background-color: #3949ab;
      }


      .tripcode-color-5 {
        background-color: #1e88e5;
      }


      .tripcode-color-6 {
        background-color: #039be5;
      }


      .tripcode-color-7 {
        background-color: #00acc1;
      }


      .tripcode-color-8 {
        background-color: #00897b;
      }


      .tripcode-color-9 {
        background-color: #43a047;
      }


      .tripcode-color-10 {
        background-color: #7cb342;
      }


      .tripcode-color-11 {
        background-color: #c0ca33;
      }


      .tripcode-color-12 {
        background-color: #fdd835;
      }


      .tripcode-color-13 {
        background-color: #ffb300;
      }


      .tripcode-color-14 {
        background-color: #fb8c00;
      }


      .tripcode-color-15 {
        background-color: #f4511e;
      }


      .tripcode-color-16 {
        background-color: #6d4c41;
      }


      .tripcode-color-17 {
        background-color: #757575;
      }


      .tripcode-color-18 {
        background-color: #546e7a;
      }


      .tripcode-color-19 {
        background-color: #c62828;
      }


      .tripcode-color-20 {
        background-color: #ad1457;
      }


      .tripcode-color-21 {
        background-color: #6a1b9a;
      }


      .tripcode-color-22 {
        background-color: #283593;
      }


      .tripcode-color-23 {
        background-color: #1565c0;
      }
    }
  }
}

.site-footer {
  font-family: var(--sans-serif);
  background-color: var(--header-footer-bg);
  padding: 0 var(--gutter);

  footer {
    max-width: var(--footer-width);
    margin: var(--gutter) auto;

    display: flex;
    gap: 16px;
    flex-direction: column;
    color: var(--header-footer-text-color);
    -webkit-font-smoothing: antialiased;

    a,
    .button-link {
      font-weight: var(--bold);
      color: var(--header-footer-navigation-links-text-color);

      &:hover {
        color: var(--header-footer-navigation-links-text-color-hover);
      }
    }

    .button-icon {
      font-weight: var(--bold);
      display: inline-flex;
      gap: 10px;
      padding: 6px 10px;
      border-radius: var(--button-radius);
      color: var(--header-footer-button-icon-text-color);
      background-color: var(--header-footer-button-icon-bg);
      border: 1.5px solid var(--header-footer-button-icon-bg-hover);

      &:hover {
        background-color: var(--header-footer-button-icon-bg-hover);
      }
    }

    .site-title {
      display: block;
      padding: 0;
      margin: 0;
      color: var(--primary-100);
    }

    nav,
    .rss {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
    }
  }
}

@page {
  size: 210mm 297mm;
  margin: 1cm;
}

@media print {

  .draft-content,
  .site-header-container,
  .site-footer,
  .hero,
  #gomments-container {
    display: none;
  }

  :root {
    --width: 100%;
    font-size: 7.5px;
    /* 1.6rem is 12px font */
    --background: transparent;
  }

  body {
    background-color: var(--background);
  }

  .back-nav {
    display: none !important;
  }

  a {
    text-decoration-thickness: 1px !important;
  }

  article.content {

    header {
      h1 {
        margin-top: 0 !important;
      }
    }

    h1 {
      font-size: 1.476em;
    }

    h2 {
      font-size: 1.383em;
    }

    h3 {
      font-size: 1.296em;
    }

    h4 {
      font-size: 1.215em;
    }

    h5 {
      font-size: 1.138em;
    }

    h6 {
      font-size: 1.067em;
    }
  }
}
