:root {
  --width: 800px;
  --header-width: 800px;
  --footer-width: 800px;
  --radius: 12px;
  --radius-sharp: 6px;
  --spacing-xs: 1.800rem;
  --spacing-s: 2.399rem;
  --spacing-m: 3.198rem;
  --spacing-l: 4.263rem;
  --spacing-xl: 5.683rem;
  --spacing-2xl: 7.576rem;
  --header-height: 6rem;
  scroll-padding-top: calc(var(--header-height) + var(--spacing-m));

  --monospace: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;

  --heading-font: "Archivo", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --base-font: "Geist", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;

  --regular: 400;
  --medium: 500;
  --bold: 600;
  --extra-bold: 700;
  --black: 900;

  --main-side-margins: var(--spacing-xs);

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  font-size: 62.5%;

  scroll-behavior: smooth;

  --heading-weight-primary: var(--black);
  --base-font-size: 1.8rem;

  --button-radius: var(--radius-sharp);

  --body-bg: var(--gray-50);
  --alert-caution-bg: #EDD4C2;
  --alert-caution-border: #DDB8A4;
  --alert-caution-heading-color: #522510;
  --alert-caution-text-color: #6B3420;
  --alert-important-bg: #E0D4EC;
  --alert-important-border: #CABCD8;
  --alert-important-heading-color: #3C2850;
  --alert-important-text-color: #503860;
  --alert-note-bg: #D8E3EA;
  --alert-note-border: #C2D0D8;
  --alert-note-heading-color: #2E4554;
  --alert-note-text-color: #3D5563;
  --alert-tip-bg: #D2E4CE;
  --alert-tip-border: #BBCFB8;
  --alert-tip-heading-color: #274530;
  --alert-tip-text-color: #36573A;
  --alert-warning-bg: #EDE0AA;
  --alert-warning-border: #D8C878;
  --alert-warning-heading-color: #4A3A0C;
  --alert-warning-text-color: #614F18;
  --blockquote-accent: var(--primary-600);
  --button-primary-bg-hover: var(--primary-600);
  --button-primary-bg: var(--primary-700);
  --button-primary-fg: var(--primary-100);
  --button-semantic-disabled-bg: var(--gray-400);
  --button-semantic-good-bg-hover: #22cc22;
  --button-semantic-good-bg: #008000;
  --code-bg: var(--gray-50);
  --code-border: var(--gray-300);
  --code-chroma-border: var(--gray-300);
  --code-text-color: var(--gray-700);
  --content-area-bg: var(--background);
  --gomments-input-bg: var(--gray-50);
  --gomments-input-border: var(--border);
  --li-marker-color: var(--primary-800);
  --link-color: var(--primary-700);
  --link-color-hover: var(--link-color);
  --ring-primary: var(--ring);
  --text-color-muted: var(--muted-foreground);
  --text-color: var(--foreground);
  --table-border: var(--border);
  --table-thead-bg: var(--primary-700);
  --table-thead-text-color: var(--primary-100);
  --table-tbody-tr-bg: var(--gray-100);
  --mark-primary: var(--primary-100);
  --post-card-publish-date-text-color: var(--gray-600);
  --hr-color: var(--text-color);
  --elbow-color: var(--gray-300);

  --header-text-color: var(--primary-700);
  --header-border-color: var(--gray-200);

  @media(prefers-color-scheme: dark) {
    --header-text-color: var(--primary-300);
    --header-border-color: var(--primary-700);
  }

  @media(prefers-color-scheme: dark) {
    --alert-caution-bg: #2C1810;
    --alert-caution-border: #4A3220;
    --alert-caution-heading-color: #FFB380;
    --alert-caution-text-color: #F5A870;
    --alert-important-bg: #2D244A;
    --alert-important-border: #524A6A;
    --alert-important-heading-color: #E0C8F0;
    --alert-important-text-color: #D4A8E0;
    --alert-note-bg: #1A2D3A;
    --alert-note-border: #3A4A58;
    --alert-note-heading-color: #B8DFF0;
    --alert-note-text-color: #A8D0E8;
    --alert-tip-bg: #1A3218;
    --alert-tip-border: #3A522F;
    --alert-tip-heading-color: #B0E890;
    --alert-tip-text-color: #A0D870;
    --alert-warning-bg: #3A3620;
    --alert-warning-border: #6A6030;
    --alert-warning-heading-color: #F0D060;
    --alert-warning-text-color: #FFD050;
    --blockquote-accent: var(--primary-300);
    --button-primary-bg-hover: var(--primary-400);
    --button-primary-bg: var(--primary-500);
    --button-primary-fg: var(--primary-50);
    --button-semantic-disabled-bg: var(--gray-700);
    --button-semantic-good-bg-hover: #22cc22;
    --button-semantic-good-bg: #008000;
    --code-bg: var(--gray-900);
    --code-border: var(--gray-700);
    --code-chroma-border: transparent;
    --code-text-color: var(--gray-50);
    --content-area-bg: var(--gray-900);
    --gomments-input-bg: var(--gray-800);
    --gomments-input-border: var(--gray-700);
    --li-marker-color: var(--gray-50);
    --link-color: var(--primary-300);
    --link-color-hover: var(--link-color);
    --ring-primary: var(--primary-500);
    --text-color-muted: var(--gray-100);
    --text-color: var(--gray-50);
    --table-border: var(--primary-600);
    --table-thead-bg: var(--primary-600);
    --table-thead-text-color: var(--primary-50);
    --table-tbody-tr-bg: var(--gray-900);
    --mark-primary: var(--primary-700);
    --body-bg: var(--gray-900);
    --post-card-publish-date-text-color: var(--gray-400);
    --hr-color: var(--gray-100);
    --elbow-color: var(--gray-600);
  }
}

body {
  font-family: var(--base-font);
  font-weight: var(--regular);

  text-wrap: pretty;
  color: var(--text-color);
  background-color: var(--body-bg);

  overflow-x: clip;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;

  font-size: var(--base-font-size);

  main {
    /* min-width needed to allow overflowing child elements */
    min-width: 0;

    background-color: var(--content-area-bg);
    padding: var(--main-side-margins);
    padding-bottom: 16rem;
    margin-top: var(--header-height);
  }
}

.back-to-top {
  height: 24px;
  margin: var(--spacing-l) 0 0 0;

  a {
    display: inline-block;

    svg {
      float: left;
      margin-right: 0.25em;
    }

    .label {
      float: right;
      text-decoration: inherit;
    }
  }
}

.back-nav {
  width: 100%;
  max-width: var(--width);
  margin: var(--spacing-xs) auto;
  height: 24px;

  a {
    display: inline-block;

    svg {
      float: left;
      margin-right: 0.25em;
    }

    .label {
      float: right;
      text-decoration: inherit;
    }
  }
}

.button-link,
.button-icon {
  all: unset;
  cursor: pointer;
}

/* links */
a,
.button-link {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

header.site-header-container {
  position: fixed;
  z-index: 999;

  width: 100vw;
  height: var(--header-height);
  padding: 0 var(--spacing-s);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--base-font);
  background-color: var(--body-bg);
  border-bottom: 1px solid var(--header-border-color);

  .site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    width: min(100%, var(--header-width));
    margin: auto;

    .site-title {
      position: relative;
      display: block;
      padding: 0;
      margin: 0;
      color: var(--header-text-color);
      text-transform: lowercase;
      font-weight: var(--black);
      font-family: var(--heading-font);
      font-size: 2rem;
      line-height: 100%;

      svg {
        position: absolute;
        top: 1.5px;
        width: auto;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: end;
      text-transform: lowercase;
      font-size: 2rem;
      line-height: 100%;
      width: 100%;
      gap: var(--spacing-l);

      a {
        display: block;
        font-weight: var(--bold);
        font-family: var(--heading-font);
        color: var(--header-text-color);
      }
    }

    a {
      position: relative;
      color: var(--link-color);
      text-decoration: none;

      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        background-color: currentColor;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s ease-out;
      }

      &:hover {
        color: var(--link-color-hover);

        &::after {
          transform: scaleX(1);
        }
      }
    }

  }
}

.hero {
  margin: 0 calc(-1 * var(--main-side-margins));
  margin-top: calc(-1 * var(--main-side-margins));

  @media (min-width: 760px) {
    max-width: calc(var(--width) + 2 * var(--main-side-margins));
    margin: 0 auto;
  }

  .hero-surface {
    aspect-ratio: 1.3;

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;

    @media (min-width: 480px) {
      aspect-ratio: 2.2;
    }

    @media (min-width: 760px) {
      border-radius: var(--radius);
    }


    img {
      width: 100%;
    }
  }
}

article::selection {
  background-color: var(--primary-700);
  color: var(--primary-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-weight-primary);
  font-family: var(--heading-font);
  line-height: 1.1;
  margin: var(--spacing-xl) 0 var(--spacing-m) 0;
  text-overflow: ellipsis;
  letter-spacing: -1%;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.027em;
}

h2 {
  font-size: 1.802em;
}

h3 {
  font-size: 1.602em;
}

h4 {
  font-size: 1.424em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

article.content {
  width: 100%;
  max-width: var(--width);
  margin: var(--spacing-xs) auto var(--spacing-s) auto;

  .content-inner {
    header {
      margin-top: var(--spacing-xl);
    }
  }

  .byline {
    font-family: var(--base-font);
    font-size: smaller;
    display: block;
    margin: 0 0 var(--spacing-m) 0;
    font-style: normal;

    &:empty {
      display: none;
    }

    .author {
      font-weight: var(--bold);
    }

  }

  strong {
    font-weight: var(--bold);
  }

  blockquote:not(.alert) {
    font-style: italic;
    border-left: 3px solid var(--blockquote-accent);
    color: var(--text-color);
    padding-left: 0.66em;
  }

  .alert {
    padding: var(--spacing-s);
    margin: var(--spacing-l) 0;
    border-radius: var(--radius);
    border: 1px solid;

    .alert-heading {
      font-weight: var(--bold);
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p {
      text-align: left;
    }

    /* Note: dusty slate-blue */
    &.alert-note {
      border-color: var(--alert-note-border);
      background-color: var(--alert-note-bg);

      p {
        color: var(--alert-note-text-color);
      }

      .alert-heading {
        color: var(--alert-note-heading-color);
      }

    }

    /* Tip: sage green */
    &.alert-tip {
      border-color: var(--alert-tip-border);
      background-color: var(--alert-tip-bg);

      p {
        color: var(--alert-tip-text-color);
      }

      .alert-heading {
        color: var(--alert-tip-heading-color);
      }

    }

    /* Warning: ochre/warm amber */
    &.alert-warning {
      border-color: var(--alert-warning-border);
      background-color: var(--alert-warning-bg);

      p {
        color: var(--alert-warning-text-color);
      }

      .alert-heading {
        color: var(--alert-warning-heading-color);
      }

    }

    /* Caution: terracotta */
    &.alert-caution {
      border-color: var(--alert-caution-border);
      background-color: var(--alert-caution-bg);

      p {
        color: var(--alert-caution-text-color);
      }

      .alert-heading {
        color: var(--alert-caution-heading-color);
      }

    }

    /* Important: dusty mauve */
    &.alert-important {
      background-color: var(--alert-important-bg);
      border-color: var(--alert-important-border);

      p {
        color: var(--alert-important-text-color);
      }

      .alert-heading {
        color: var(--alert-important-heading-color);
      }

    }
  }

  pre {
    display: block;
    font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    line-height: 1.7;
    padding: var(--spacing-xs);
    overflow-x: auto;
    margin: var(--spacing-m) 0;

    code {
      display: block;
      background-color: transparent;
      min-width: fit-content;
    }
  }

  code {
    border-radius: 5px;
    padding: 0.2em 0.4em;
  }

  pre,
  code {
    font-family: var(--monospace);
    font-size: 1.4rem;
  }

  *:not(pre)>code,
  pre:not(.chroma) {
    background-color: var(--code-bg);
    border: 1px solid var(--code-border);
    color: var(--code-text-color);
  }

  pre {
    border: 1px solid var(--code-border);
    border-radius: var(--radius);

    &.chroma {
      border: 1px solid var(--code-chroma-border);
    }
  }

  p.text-align-left {
    text-align: left;
  }

  .figure-container {
    width: auto;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    &.portrait {
      @media (min-width: 480px) {
        max-width: 66%;
      }
    }

    &.sm {
      width: 250px;
    }

    figure {
      margin: 0 0 var(--spacing-m) 0;
      width: auto;

      img {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        border-radius: var(--radius);
      }
    }

    &.nocaption {
      figcaption {
        display: none;
      }
    }

    figcaption {
      padding-top: 1rem;
      line-height: 1.4;

      p {
        color: var(--text-color-muted);
        font-style: normal;
        font-size: smaller;
      }
    }
  }

  .dinkus {
    text-align: center;
  }

  :not(.footnotes)>hr {
    border: none;
    overflow: visible;
    text-align: center;
    color: var(--hr-color);

    &::after {
      content: "* * *";
      /* renders as a dinkus */
      position: relative;
      top: -11px;
    }
  }

  .footnotes {
    width: auto;
    text-align: left;
    margin-top: var(--spacing-l);

    hr {
      border: none;
      border-top: 1.5px dashed var(--hr-color);
    }
  }

  .hugo-content {
    container-type: inline-size;
    margin: 0 auto;
    line-height: 1.6;

    font-family: var(--base-font);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--heading-font);
    }

    aside#toc {
      margin-top: 1rem;
    }

    sup {
      line-height: 0;
    }

    p {
      margin: 0 auto var(--spacing-s) auto;
    }

    &.essay {

      &>p {
        text-align: justify;
        text-wrap: initial;

        hyphens: auto;
      }
    }

    ol,
    ul {
      margin: var(--spacing-s) auto;

      ol,
      ul {
        margin: 0 auto;
      }

      li::marker {
        color: var(--li-marker-color);
        font-weight: var(--regular);
      }
    }

    mark {
      background-color: var(--mark-primary);
      color: var(--text-color);
    }
  }

  .table-container {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0.5lh 0;
    border: 1px solid var(--table-border);
    border-radius: var(--radius);

    table {
      min-width: 600px;
      box-sizing: border-box;
      border-spacing: 0;
      border-collapse: collapse;
      border: none;
      table-layout: auto;
      width: 100%;

      thead,
      tbody,
      tr,
      th,
      td {
        border: none;
      }

      thead {
        font-size: smaller;
        text-align: left;
        background-color: var(--table-thead-bg);
        color: var(--table-thead-text-color);

        tr {
          th {
            padding: 0.5lh;
          }
        }
      }

      tbody {
        font-size: smaller;
        text-align: left;

        tr {
          background-color: var(--table-tbody-tr-bg);

          td {
            padding: 0.5lh;
          }
        }

      }
    }
  }
}

article.section {
  .hugo-section-header {
    font-weight: var(--bold);
  }

  margin: var(--spacing-s) auto;

}

article.posts {
  max-width: var(--width);
  margin: var(--spacing-s) auto;
  display: flex;
  flex-direction: column;
  gap: 0;

  .post-card {
    .summary {}
  }

  .group-heading {
    text-transform: lowercase;
    font-weight: var(--heading-weight-primary);
    font-family: var(--heading-font);
    font-size: smaller;
    letter-spacing: 10%;
    color: var(--text-color-muted);
    margin: var(--spacing-xl) 0 var(--spacing-l) 0;
  }
}

.post-card {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0 0 var(--spacing-l) 0;
  line-height: 1.6;

  .title {
    display: block;
    font-weight: var(--heading-weight-primary);
    font-family: var(--heading-font);
    line-height: 1.1;
    text-overflow: ellipsis;
    letter-spacing: -1%;
    font-size: 2.027em;
    margin: 0 0 var(--spacing-xs) 0;
  }

  .publish-date {
    color: var(--post-card-publish-date-text-color);
  }

  .contents {
    header {

      time,
      .comment-count {
        white-space: nowrap;
      }
    }

    .summary {
      position: relative;
      max-height: 6lh;
      overflow-y: hidden;
    }
  }
}

.raised {
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--ring-primary);
}

noscript {
  color: var(--text-color-muted);
  font-style: italic;
}

.gomments-container {
  font-family: var(--base-font);
  display: flex;
  flex-direction: column;
  gap: 0.5lh;
  justify-items: stretch;

  .reaction-bar {
    display: flex;
    gap: 1em;
    margin: 1em 0;
    align-items: center;

    .reaction-bar-count {
      height: 25px;
      line-height: 25px;
    }

    button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border: none;
      padding: 0.5em;
      background: var(--button-primary-bg, black);
      color: var(--button-primary-fg);
      cursor: pointer;
      border-radius: var(--button-radius);
    }


    &:not(.locked) {
      button:hover {
        background: var(--button-primary-bg-hover, black);
      }
    }

    &.locked {
      button {
        cursor: not-allowed;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5lh;

    .row {
      .field-group {

        input {
          max-width: 60%;
        }

        textarea {
          resize: none;
        }

        input,
        textarea {
          font-family: var(--monospace);
          font-size: 1.6rem;
          width: 100%;
          padding: 0.5em 0.5em;
          box-sizing: border-box;
          border: 2px solid var(--gomments-input-border);
          border-radius: var(--radius-sharp);
          margin: 0;
          background-color: var(--gomments-input-bg);
          color: var(--text-color);

          &::placeholder {
            color: var(--text-color);
            opacity: 0.5;
            font-style: italic;
          }
        }
      }
    }

    .reply-form-submit-row {
      display: flex;
      justify-content: space-between;
    }

    .char-count-text {
      color: var(--text-color-muted);
      font-size: smaller;
    }

    .char-count-text.validation-error-text {
      color: crimson;
    }

    button.submit-btn {
      background-color: var(--button-semantic-disabled-bg);
      border: none;
      color: white;
      border-radius: var(--button-radius);
      cursor: not-allowed;
      font-size: smaller;
      padding: 0.5lh 1lh;

      &:enabled {
        background-color: var(--button-semantic-good-bg);

        &:hover {
          background-color: var(--button-semantic-good-bg-hover);
        }

        color: white;
        cursor: pointer;
      }
    }
  }

  .section-label {
    font-weight: var(--bold);
  }

  .reply-feed {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    margin: 3rem 0;

    .reply-card-container {
      &>* {
        min-width: 0;
      }

      .reply-card-body {
        margin-top: 0.4rem;
        display: grid;
        grid-gap: 6px;
        grid-template-columns: 20px auto;

        .elbow {
          width: 11px;
          height: 11px;
          border-left: 1.5px solid var(--elbow-color);
          border-bottom: 1.5px solid var(--elbow-color);
          margin: 6px 1px 0 8px;
          border-radius: 0 0 0 3px;
        }
      }

      .reply-card-byline {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 3px;
        height: 20px;
        letter-spacing: -0.2px;

        .reply-card-name {
          font-weight: var(--bold);
        }


        .interpunct {}

        .reply-created-at {}

        .reply-card-avatar {
          aspect-ratio: 1;
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          overflow: hidden;
          border-radius: var(--radius-sharp);
          margin-right: 3px;

          .reply-card-avatar-icon {
            svg {
              width: 14px;
              height: 14px;
            }
          }
        }

      }


      .tripcode-color-anon {
        background-color: #888;
      }

      .tripcode-color-0 {
        background-color: #e53935;
      }

      .tripcode-color-1 {
        background-color: #d81b60;
      }

      .tripcode-color-2 {
        background-color: #8e24aa;
      }

      .tripcode-color-3 {
        background-color: #5e35b1;
      }

      .tripcode-color-4 {
        background-color: #3949ab;
      }

      .tripcode-color-5 {
        background-color: #1e88e5;
      }

      .tripcode-color-6 {
        background-color: #039be5;
      }

      .tripcode-color-7 {
        background-color: #00acc1;
      }

      .tripcode-color-8 {
        background-color: #00897b;
      }

      .tripcode-color-9 {
        background-color: #2e7d32;
      }

      .tripcode-color-10 {
        background-color: #558b2f;
      }

      .tripcode-color-11 {
        background-color: #9e9d24;
      }

      .tripcode-color-12 {
        background-color: #f9a825;
      }

      .tripcode-color-13 {
        background-color: #e65100;
      }

      .tripcode-color-14 {
        background-color: #fb8c00;
      }

      .tripcode-color-15 {
        background-color: #f4511e;
      }

      .tripcode-color-16 {
        background-color: #6d4c41;
      }

      .tripcode-color-17 {
        background-color: #757575;
      }

      .tripcode-color-18 {
        background-color: #546e7a;
      }

      .tripcode-color-19 {
        background-color: #c62828;
      }

      .tripcode-color-20 {
        background-color: #ad1457;
      }

      .tripcode-color-21 {
        background-color: #6a1b9a;
      }

      .tripcode-color-22 {
        background-color: #283593;
      }

      .tripcode-color-23 {
        background-color: #1565c0;
      }
    }
  }
}

.site-footer {
  font-family: var(--base-font);
  border-top: 1px solid var(--header-border-color);
  background-color: var(--body-bg);
  padding: 0 var(--spacing-xs);

  footer {
    max-width: var(--footer-width);
    margin: var(--spacing-s) auto;

    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;
    color: var(--header-text-color);

    section {
      p {
        margin-bottom: var(--spacing-s);
      }
    }

    a,
    .button-link {
      font-weight: var(--bold);
      color: var(--header-text-color);
    }

    .button-icon {
      font-weight: var(--regular);
      display: inline-flex;
      gap: 10px;
      padding: 8px 10px 6px 10px;
      border-radius: var(--button-radius);
      color: var(--header-text-color);
      background-color: var(--gray-50);
      border: 1px solid var(--primary-700);

      &:hover {
        background-color: var(--gray-100);
      }
    }

    .site-title {
      display: block;
      padding: 0;
      margin: 0;
      color: var(--primary-100);
    }

    nav,
    .rss {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-xs) var(--spacing-m);
    }
  }
}

@page {
  size: 210mm 297mm;
  margin: 1cm;
}

@media print {

  .draft-content,
  .site-header-container,
  .site-footer,
  .hero,
  #gomments-container {
    display: none;
  }

  :root {
    --width: 100%;
    font-size: 7.5px;
    /* 1.6rem is 12px font */
    --background: transparent;
  }

  body {
    background-color: var(--background);
  }

  .back-nav {
    display: none !important;
  }

  a {
    text-decoration-thickness: 1px !important;
  }

  article.content {

    header {
      h1 {
        margin-top: 0 !important;
      }
    }

    h1 {
      font-size: 1.476em;
    }

    h2 {
      font-size: 1.383em;
    }

    h3 {
      font-size: 1.296em;
    }

    h4 {
      font-size: 1.215em;
    }

    h5 {
      font-size: 1.138em;
    }

    h6 {
      font-size: 1.067em;
    }
  }
}
