nav#banner h2 a {
  color: $accent-color;
}

nav#banner {
  font-family: $heading-font;
  h2 {
    font-weight: 800;
  }
}

nav#banner .navlinks ul li a {
  color: $body-text-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-text-color;
}

.has-heading-font {
  font-family: $heading-font;
}

html {
  font-size: 85%;
}

$body-font-size: 1.4rem;

body {
  font-size: $body-font-size;
}

main#content {

  header#post-header {
    margin-bottom: 0.5rem;
    i {
      font-size: 0.85em;
    }
    text-align: center;
    // .front-matter {
    //   text-align: center;
    // }
  }

  p {
    color: $body-text-color;
    margin-top: 0;
    margin-bottom: 1.4rem;
  }

  h1, h2, h3, h4 {
    font-family: "Manrope", sans-serif;
    display: block;
    line-height: 120%;
    font-weight: 800;
  }

  h1 {
    font-size: 2.7rem;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }

  h3 {
    font-size: 2.0rem;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
  }

  h4 {
    font-size: 1.8rem;
    margin-top: 1.0rem;
    margin-bottom: 0.6rem;
  }
}


blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: $body-text-color;
  border-left: 2px solid;
  font-style: italic;
}

footer#footer {
  font-size: 1.4rem;
  font-weight: 400;
  color: $body-text-color-muted;
  margin: 48px 0 0 0;
  a {
    text-decoration: none;
    color: $body-text-color-muted;
  }
  a:hover {
    text-decoration: underline;
  }
}

footer#footer {
  .footer-nav-container {
    height: 100%;
  }
}

footer#footer .external-link-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: start;
  font-size: 2.2rem;
}

footer#footer .external-link-icons-item {
  flex: 0 0 auto;
  margin: 8px;
}

p, li, {
  code {
    font-weight: bold;
    border-radius: 4px;
    color: $body-text-color-muted;
    border: 1px solid $body-text-color-muted;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
  }
}

pre code {
  border: none;
  color: inherit;
  font-weight: revert;
}

.text-centered {
  text-align: center;
}

.has-font-weight-bold {
  font-weight: bold;
}


main#content {
  img {
    margin: 0 auto;
    max-height: 66vh;
    max-width: 100%;
    display: block;
  }

  figure {
    margin: 8px auto;
    color: $body-text-color-muted;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min-content;
    max-width: 100%;

    p {
      color: $body-text-color-muted;
    }

    img {
      margin: 0;
      flex-grow: 4;
      max-width: min-content !important;
      max-height: 100%;
    }

    figcaption {
      display: inline-block;
      flex-grow: 1;
    }
  }

  article li {
    margin-bottom: 1rem;
  }
}

sup, sub {
  line-height: 0;
}
