nav#banner h2 a {
  color: $accent-color;
}

nav#banner {
  font-family: $heading-font;
  h2 {
    font-weight: 800;
  }
}

nav#banner .navlinks ul li a {
  color: $body-text-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-text-color;
}

.has-heading-font {
  font-family: $heading-font;
}

html {
  font-size: 85%;
}

$body-font-size: 1.4rem;

body {
  font-size: $body-font-size;
}

main#content {
  sup, sub {
    line-height: 0;
  }
  article li {
    margin-bottom: 1rem;
  }
  header#post-header {
    margin-bottom: 0.5rem;
    i {
      font-size: 0.85em;
    }
  }

  p {
    color: $body-text-color;
    margin-top: 0;
    margin-bottom: 1.4rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope", sans-serif;
    display: block;
    font-weight: 800;
    word-wrap: break-word;
    white-space: normal;
    letter-spacing: -5%;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: $body-text-color;
    border-left: 2px solid;
    font-style: italic;
  }

  p, li, {
    code {
      font-weight: bold;
      border-radius: 4px;
      color: $body-text-color-muted;
      border: 1px solid $body-text-color-muted;
      padding-left: 4px;
      padding-right: 4px;
      white-space: nowrap;
    }
  }

  pre code {
    border: none;
    color: inherit;
    font-weight: revert;
  }

  .footnotes {
    hr { /* used in footnotes only */
      border: 0;
      height: 3px;
      background: $body-text-color;
    }
  }
}

footer#footer {
  font-size: 1.4rem;
  font-weight: 400;
  color: $body-text-color-muted;
  margin: 48px 0 0 0;
  a {
    text-decoration: none;
    color: $body-text-color-muted;
  }
  a:hover {
    text-decoration: underline;
  }

  .footer-nav-container {
    height: 100%;
  }

  .external-link-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: start;
    font-size: 2.2rem;
  }

  .external-link-icons-item {
    flex: 0 0 auto;
    margin: 8px;
  }
}

.text-centered {
  text-align: center;
}

.has-font-weight-bold {
  font-weight: bold;
}
