header#banner h2 a {
  color: $accent-color;
}

body {
  font-family: $main-font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-text-color;
}

main#content {

  header#post-header {
    time {
      display: inline-block;
    }
  }

  p {
    color: $body-text-color;
    margin-top: 0;
    margin-bottom: 1.4rem;
  }

  h1, h2, h3, h4 {
    display: block;
  }

  header h1 {
  }

  h1 {
    font-size: 2.8rem;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }

  h3 {
    font-size: 1.9rem;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
  }

  h4 {
    font-size: 1.6rem;
    margin-top: 1.0rem;
    margin-bottom: 0.6rem;
  }
}


blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: $body-text-color;
  border-left: 2px solid;
  font-style: italic;
}

footer#footer {
  font-size: 1.4rem;
  font-weight: 300;
  color: $body-text-color-muted;
  margin: 40px 0;
  text-align: center;
  a {
    text-decoration: none;
    color: $body-text-color-muted;
  }
  a:hover {
    text-decoration: underline;
  }
}

code {
  font-weight: bold;
  border-radius: 4px;
  color: $body-text-color-muted;
  border: 1px solid $body-text-color-muted;
  padding-left: 4px;
  padding-right: 4px;
}

pre code {
  border: none;
  color: inherit;
}
