main {
  article {
    blockquote {
      margin: $body-font-size 0 $body-font-size -9.5px;
      padding: 0 0 0 12px;
      border-left: 3px solid;
      font-style: italic;
      font-size: 110%;

      border-color: $body-text-color;

      @media(prefers-color-scheme: dark) {
        border-color: $body-text-color-dark;
      }

      p {
        margin: 0;
      }
    }

    .footnotes {
      margin-top: 4em;

      * {
        color: $body-text-color-muted;

        @media (prefers-color-scheme: dark) {
          color: $body-text-color-muted-dark;
        }
      }

      a {
        line-break: anywhere;
      }

      hr {
        border: 0;
        height: 1px;
        background: $body-text-color-muted;

        @media (prefers-color-scheme: dark) {
          background: $body-text-color-muted-dark;
        }
      }
    }

  }
}
