<div class="site-footer">
  <footer>
    <nav>
      {{- range .Site.Menus.footer -}}
      <div>
        <a href="{{- .URL -}}">{{ .Title }}</a>
      </div>
      {{- end -}}
    </nav>
    <section>
      <p>{{ .RenderString .Site.Params.copyright }}
        This site uses <a href="https://umami.is" target="_blank" rel="noopener"
          data-umami-event="Footer Umami">Umami</a>
        for privacy-friendly analytics. No personal information is
        collected.
      </p>
    </section>
    {{- $rssUrl := urls.AbsURL "index.xml" -}}
    <section class="rss">
      <div>
        <a alt="rss" href="{{- $rssUrl -}}">
          rss</a>
      </div>
      <div>
        <a href="http://www.rssboard.org/rss-validator/check.cgi?url={{- $rssUrl -}}">
          <img src="/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" />
        </a>
      </div>
    </section>
  </footer>
</div>
