<footer id="footer">
  <div class="footer-nav-container">
    <div class="footer-text">{{ .RenderString .Site.Params.copyright }}</div>
    <div class="footer-socials">
      <div class="external-link-icons">
  {{- if .Data.Term -}}
      <a alt="rss" href="index.xml" class="external-link-icons-item"> <!-- rss relative to page -->
        rss (tag: {{ .Name }})</a>
  {{- else if .IsSection -}}
      <a alt="rss" href="index.xml" class="external-link-icons-item"> <!-- rss relative to page -->
        rss (section: {{ .Name }})</a>
  {{- else -}}
      <a alt="rss" href="/index.xml" class="external-link-icons-item"> <!-- rss absolute -->
        rss (all)</a>
  {{- end -}}
      </div>
    </div>
  </div>
</footer>
