<footer id="footer">
  <div class="footer-nav-container">
    <div class="footer-nav-menu">
      {{- range .Site.Menus.footer -}}
      <div class="footer-nav-menu-item">
        <a href="{{- .URL -}}">{{ .Title }}</a>
      </div>
      {{- end -}}
    </div>
    <div class="footer-text">
      <p>{{ .RenderString .Site.Params.copyright }}</p>
    </div>
    <div class="footer-text">
      <p>
        This site uses <a href="https://umami.is" target="_blank" rel="noopener"
          data-umami-event="Footer Umami">Umami</a> for privacy-friendly analytics. No personal information is
        collected.
      </p>
    </div>
    {{- $rssName := "" -}}
    {{- $rssUrl := "" -}}
    {{- with .OutputFormats.Get "rss" -}}
      {{- $rssUrl = .Permalink -}}
    {{- end -}}
    {{- if .Data.Term -}}
      {{- $rssName = fmt.Printf "tag: %s" .Name -}}
    {{- else if .IsSection -}}
      {{- $rssName = fmt.Printf "section: %s" .Name -}}
    {{- else -}}
      {{- $rssName = "all" -}}
      {{- $rssUrl = urls.AbsURL "/index.xml" -}}
    {{- end -}}
    <div class="footer-nav-menu">
      <div class="footer-nav-menu-item">
        <a alt="rss" href="{{- $rssUrl -}}">
          rss ({{- $rssName -}})</a>
      </div>
      <div class="footer-nav-menu-item">
        <a href="http://www.rssboard.org/rss-validator/check.cgi?url={{- $rssUrl -}}">
          <img src="/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" />
        </a>
      </div>
    </div>
  </div>
</footer>
