<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link async rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ $customSCSS := resources.Get "css/all.scss" }}
    {{ $customStyle := $customSCSS | resources.ToCSS | minify }}

    <link rel="preload" href="{{ $customStyle.RelPermalink | safeHTML }}" as="style">
    <link async rel="stylesheet" href="{{ $customStyle.RelPermalink | safeHTML }}" >

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fffaf0" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#121212" />

    <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>
