<header class="site-header-container">
  <div class="site-header">
    <a alt="{{ .Site.Title }}" aria-label="index" href="/" class="site-title">{{- partial "svg.html" "logo.svg" -}}</a>
    <nav>
      {{- $page := . -}}
      {{- range .Site.Menus.main -}}
      <div><a
          {{ if or ($page.IsMenuCurrent .Menu .) (and (eq $page.Section "posts") (eq .Name "index")) -}}
          class="menu-item active"
          {{- end -}}
          alt="{{ .Title }}" href="{{ .URL }}">{{ title .Title }}</a></div>
      {{- end -}}
    </nav>
  </div>
    {{ with .Site.Params.greeting -}}<div class="greeting">{{- . -}}</div>{{- end -}}
</header>
