{{- if not .IsHome -}}
<nav id="breadcrumbs">
  <div class="breadcrumbs-list">
    {{- range .Ancestors.Reverse }}
    {{- if .IsHome -}}
    <div class="breadcrumbs-item"><a alt="{{ .Title }}" href="{{ .RelPermalink }}">Home</a></div>
    {{- else -}}
    <div class="breadcrumbs-item"><a alt="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    {{- end -}}
    <div class="breadcrumbs-separator">/</div>
    {{- end }}
    <div class="breadcrumbs-item current"><a alt="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
  </div>
</nav>
{{- else -}}
<nav id="breadcrumbs">
  <div class="breadcrumbs-list">
  </div>
</nav>
{{- end -}}
