<div class="post-card">
    <section class="contents">
        <header
            {{ if .Draft }}
            style="opacity: 0.5;"
            {{ end }}
            >
            <div>
                <span class="title"><a href="{{ .Permalink }}">{{- .Title }}</a></span>,
                <span class="publish-date">
                    <time>{{ .Date.Format "2 January 2006" }}</time>
                </span>
            <div>
            <div>
                {{ .Summary }}
            </div>
            <!-- <div> -->
            <!--     <span class="comment-count tag" data-template="{count} {noun}" data-article-id-for-reply-count="{{ .Slug | default .Path }}"></span> -->
            <!-- </div> -->
        </header>
    </section>
</div>
