<div class="post-card">
    <section class="contents">
        <header
            {{ if .Draft }}
            style="opacity: 0.5;"
            {{ end }}
            >
            <div class="tag-list">
                <div class="title"><a href="{{ .Permalink }}">{{- .Title }}</a></div>
                {{- range .GetTerms "tags" -}}
                    <div class="tag">{{ .LinkTitle }}</div>
                {{- end -}}
                <div class="comment-count tag" data-template="{count} {noun}" data-article-id-for-reply-count="{{ .Slug | default .Path }}"></div>
                <div class="not-title">
                    <time>{{ .Date.Format "2 January 2006" }}</time>
                </div>
            </div>
        </header>
    </section>
</div>
