<h3>Latest Posts</h3>
<table id="posts-table">
    {{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <tr>
        <td>
            <div class="has-font-weight-bold has-heading-font">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </div>
            {{- if isset .Params "subtitle" -}}
            <div class="has-body-text-color-muted">
                    {{ .Params.Subtitle }}
            </div>
            {{- end -}}
        </td>
        <td>
            <span class="has-body-text-color-muted nowrap"><time>{{ .Date.Format "2 Jan '06" }}</time></span>
        </td>
    </tr>
    {{- end }}
</table>
