<div class="terms-cloud-label">browse by tag</div>
<div class="terms-cloud">
  {{- if .all -}}
  {{- $postCount := (where site.RegularPages "Section" "posts").Len -}}
  <a class="terms-cloud-item" href="/posts/" data-umami-event="See All Posts">all posts ({{- $postCount }})</a>
  {{- end -}}
  {{ range .tags }}
  {{ if eq page.Name .Page.Name }}
  <a class="terms-cloud-item selected" href="/posts/" data-umami-event="De-select Tag {{ .Page.Name }}">
    {{ else }}
    <a class="terms-cloud-item" href="{{ .Page.RelPermalink }}" data-umami-event="Select Tag {{ .Page.Name }}">
      {{ end }}
      #{{ .Page.Name }} ({{ .Count }})
    </a>
    {{ end }}
</div>
