<div class="terms-cloud-label">browse by tag</div>
<div class="terms-cloud">
  {{- if .all -}}
  {{- $postCount := (where site.RegularPages "Section" "posts").Len -}}
  {{- if .isPostsSection -}} <a class="terms-cloud-item selected" href="/posts/">all posts ({{- $postCount }})</a>
  {{- else -}}
  <a class="terms-cloud-item" href="/posts/">all posts ({{- $postCount }})</a>
  {{- end -}}
  {{- end -}}
  {{ range .tags }}
  {{ if eq page.Name .Page.Name }}
  <a class="terms-cloud-item selected" href="/posts/">
    {{ else }}
    <a class="terms-cloud-item" href="{{ .Page.RelPermalink }}">
      {{ end }}
      #{{ .Page.Name }} ({{ .Count }})
    </a>
    {{ end }}
</div>
