{{ define "main" }}
    <div class="about-me-container">
        <div class="about-me-intro">
            <span>
                {{ .Content }}
            </span>
        </div>
        <!-- <div class="about-me-profile"> -->
        <!--     <div class="profile-circle"> -->
        <!--         <img alt="Profile photo of Arie" src="{{ site.Params.profilePicture }}" /> -->
        <!--     </div> -->
        <!-- </div> -->
    </div>
    {{ $posts := where site.RegularPages "Section" "posts" }}
    {{ $featuredPosts := where $posts "Params.featured" "eq" true }}
    <h2>Featured Posts</h2>
    {{ if gt (len $featuredPosts) 0 }}
        {{ range $featuredPosts }}
          {{- partial "post-item.html" . -}}
        {{ end }}
    {{ end }}
    <p>
        <a href="/posts/">See all posts →</a>
    </p>
{{ end }}
