{{ define "main" }}
<div class="about-me-container">
    <div class="about-me-intro">
        {{ .Content }}
    </div>
</div>
<div class="tags-container">
    {{ with .Site.Taxonomies.tags.ByCount }}
    {{-
    $ctx := dict
    "tags" .
    "all" true
    -}}
    {{- partial "terms-cloud.html" $ctx -}}
    {{ end }}
</div>
<h2>Featured</h2>
<div class="posts-list-container home">
    {{ $pages := where site.RegularPages "Params.featured" true }}
    {{- range $pages }}
    {{- partial "post-item.html" . -}}
    {{- end }}
</div>
<div class="index-see-all-posts terms-cloud">
  {{- $postCount := (where site.RegularPages "Section" "posts").Len -}}
  <a class="terms-cloud-item" href="/posts/" data-umami-event="See All Posts">see all posts ({{- $postCount }})</a>
</div>
{{ end }}
