{{ define "main" }}
<header id="post-header">
  <h1>{{ .Title }}</h1>
</header>
<article>
  {{- .Content -}}
</article>
<div class="article-after">{{- partial "svg/coffee.html" -}}
</div>
<aside class="front-matter">
  {{- if  (isset .Params "date") -}}
    <div class="params-date">
      {{- partial "svg/calendar.html" . -}}
      <time>{{ .Params.Date.Format "2 January 2006" }}</time>
    </div>
  {{- end -}}
</aside>

{{- if not .Params.nobottomnav -}}
<div class="bottom-nav">
  <div class="tags-container">
    <div class="bottom-nav-label">Tags</div>
    {{ with .Page.GetTerms "tags" }}
        {{- partial "terms-cloud-page.html" . -}}
    {{ end }}
  </div>
  <div class="bottom-nav-next">
    <div class="bottom-nav-label">Read next</div>
    {{ with .PrevInSection }}
      {{- partial "post-item.html" . -}}
    {{ else }}
      {{ with site.GetPage .Section }}
        {{ with index (.RegularPages.ByDate) (sub (len .RegularPages.ByDate) 1) }}
          {{- partial "post-item.html" . -}}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}

{{- if not .Params.nocomment -}}
<div class="comments-container">
  <section id="comments-form">
  </section>
  <section id="comments-thread">
  </section>
</div>
{{- end -}}
{{ end }}
