{{- if .IsBlock -}}
<div class="figure-container {{ with .Attributes.class -}}{{ . }}{{- end -}}">
  <figure>
      {{- $ctx := . -}}
      {{- $u := urls.Parse (.Destination | safeURL) -}}
      {{- $src := $u.String -}}
      {{- $original := or (resources.Get $u.Path) (.Page.Resources.Get $u.Path) -}}
      {{- with $original -}}
        {{- $keepOriginal := or $ctx.Attributes.original (eq $original.MediaType.SubType "svg") -}}
        {{- if and (not $u.IsAbs) (not $keepOriginal) -}}
            {{- $resized := .Process "fit 512x4800 q85 webp" -}}
            {{- $src = $resized.Permalink -}}
        {{- end -}}
      {{- end -}}

      <img
        loading="lazy"
        src="{{ $src }}"
        {{- with .PlainText }} alt="{{ . }}"{{ end -}}
        {{- with .Title }} title="{{ . }}"{{ end -}}
      >
    <figcaption>
      {{- if and .Title .PlainText -}}
      <p><strong>{{- .Title -}}</strong>&nbsp;&nbsp;{{ .PlainText -}}</p>
      {{- else if .PlainText -}}
      <p>{{- .PlainText -}}</p>
      {{- end -}}
    </figcaption>
    </figure>
</div>
{{- else -}}
<img src="{{ .Destination | safeURL }}"
  {{- with .PlainText }} alt="{{ . }}"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
>
{{- end -}}
{{- /* chomp trailing newline */ -}}
